@charset "ISO-8859-1";

h1, h2, h3, h4, h5, textarea, p, label, input, button, a {
	font-family: "Montserrat", sans-serif;
	color: #F3F3F3;
}

body {
	background-color: #303030;
	background-image: url("/view/MyWork/images/carbonio.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}

.carousel-inner>.item>img {
	width: 100%;
	height: 880px;
	margin: auto;
}

.carousel-caption {
	font-size: 24px;
	padding: 265px 0;
	
}

.font-caption {
	font-size: 300%;
	letter-spacing: 5px;
	word-spacing: 11px;
	text-align: center;
}

#c>.item>a>img {
	height: 50px;
}

.col-sinistra {
	border-radius: 6px 6px 6px 6px;
	background-color: #E8E7E7;
	width: 100%;
	border: 1px solid #6D6D6D;
}

#col-sinistra2 {
	border-radius: 6px 6px 6px 6px;
	background-color: #E8E7E7;
	width: 100%;
	border: 1px solid #6D6D6D;
}

#col-sinistra2:hover {
	-webkit-box-shadow: 0px 20px 21px 3px rgbargba(255,255,255,0.11);
	-moz-box-shadow: 0px 20px 21px 3px rgba(0, 0, 0, 0.38);
	box-shadow: 0px 20px 21px 3px rgba(255,255,255,0.31);
}

#col-destra {
	border-radius: 6px 6px 6px 6px;
	background-color: #E8E7E7;
	height: 100%;
	border: 1px solid #6D6D6D;
}

#culturaPiemonte {
	color: #303030;
	text-align: center;
	text-shadow: 0.5px 0.5px #ECF260;
}

.content>a {
	color: #F3F3F3;
	font-size: 17px;
}

.content>a:link {
	text-decoration: none;
}

.content>a:hover {
	color: #ECF260;;
}

nav {
	position: fixed;
	font-size: 25px;
	float: right;
	text-align: right;
	margin-top: 20px;
	padding: 5px;
	color: #F3F3F3;
	height: 90px;
}

.content {
	padding: 15px;
}

/*START FOOTER*/
footer {
	margin-top: 150px;
	background-color: black;
	width: 100%;
	height: 160px;
	flex-shrink: 0;
}
/* Style all font awesome icons */
.fa {
	padding: 20px;
	font-size: 30px;
	width: 70px;
	height: 70px;
	text-align: center;
	text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.9;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
	background: #3B5998;
	color: white;
}

/* Twitter */
.fa-linkedin {
	background: #55ACEE;
	color: white;
}
/* END FOOTER*/
#didascalieFilm {
	width: 100%;
	background: #F3F3F3;
	display: inline-block;
}

#film {
	vertical-align: middle;
	text-align: center;
	width: 100%;
	table-layout: fixed;
}

.immagineUtente {
	border-radius: 50%;
	height: 70px;
	width: 70px;
	border: 2px solid #E8E7E7;
}

#post {
	width: 720px;
	background-color: #E3E2E2;
	border-radius: 4px;
	border: 1px solid #6D6D6D;
	padding-left: 10px;
}

textarea {
	resize: none;
}

#submitPost {
	border-radius: 2px 2px 2px 2px;
	color: white;
	height: 30px;
	border: 0px;
	width: 86px;
	background: #0C4FFF;
	margin-left: 80%;
}

.nomeCommento {
	display: inline-block;
	font-style: italic;
	color: #303030;
	font-weight: 600;
}

#commento {
	border-radius: 5px 5px 5px 5px;
	padding: 10px;
	width: 93%;
	background-color: #c9c9c9;
}

#tableCommento {
	text-align: left;
}

hr#linea {
	opacity: 0.3;
}

.submitCommento {
	border-radius: 2px 2px 2px 2px;
	color: white;
	height: 30px;
	border: 0px;
	width: 80px;
	background: rgb(117, 176, 245);
	background: linear-gradient(90deg, rgba(117, 176, 245, 1) 0%,
		rgba(57, 147, 252, 1) 18%, rgba(0, 117, 255, 1) 37%);
}

#gestisciProfilo {
	text-decoration: none;
	color: #3D3A3A;
}

#prof {
	border-top: 1px solid #c9c9c9;
	padding: 5px;
}

#prof2 {
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	padding: 5px;
}

#prof:hover {
	background-color: #c9c9c9;
}

#prof2:hover {
	background-color: #c9c9c9;
}

#bottoneElimina {
	background-color: #c9c9c9;
	border: 0px #c9c9c9;
	margin-left: 16px;
}

#bottoneModulo {
	background-color: #1C1C1C;
	border: 0px #3D3A3A;
	color: white;
	margin-left: 2px;
	font-size: 13px;
}

#bottoneModifica {
	background-color: #c9c9c9;
	border: 0px #c9c9c9;
}

#bottoneImmagine {
	background-color: #303030;
	border: 0px #3D3A3A;
	color: white;
	margin-left: 2px;
	font-size: 13px;
}

#utente-foto-profilo:hover {
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.2);
}

.buttonAzioni:hover {
	-ms-transform: scale(1.3); /* IE 9 */
	-webkit-transform: scale(1.3); /* Safari 3-8 */
	transform: scale(1.3);
}

.custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

.assunti {
	-webkit-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
	padding: 15px;
	color: black;
	background-color: white;
	border-radius: 8px;
	padding-bottom: 5px !important;
}

@media screen and (max-width: 999px) {
	#submitPost {
		margin-left: 89px;
	}
}

@media screen and (max-width: 440px) {
	#submitPost {
		margin-left: 12px;
	}
}

@media screen and (max-width: 800px) {
	#imgSettore {
		width: 80px;
	}
}

#teamHR {
	padding: 5px;
	color: #F3F3F3;
	background-color: #1C1C1C;
}

.assunti2 {
	-webkit-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
	padding: 15px;
	color: #F3F3F3;
	background-color: #232323;
}

.title2 {
	padding: 12px;
}

.modal-header2 {
	border-bottom: 1px solid white;
}

#tableHR {
	color: #F3F3F3;
	text-align: center;
	width: 100%;
}

#tableAssunti {
	color: black;
	text-align: center;
	width: 100%;
}

.nuoviClienti {
	background-color: white;
	color: black;
	text-align: center;
	width: 100%;
	table-layout: fixed;
}

#tableAssunti2 {
	
	display: none;
	color: black;
	text-align: center;
	width: 100%;
}

.modal-header {
	border-bottom: 1px solid black;
}

#bottoneImmagine {
	background-color: black;
	border: 0px #3D3A3A;
	color: white;
	margin-top: 10px;
	margin-left: 2px;
	font-size: 13px;
}

#quadrato-compleanno {
	background: rgb(255, 76, 0);
	background: linear-gradient(90deg, rgba(255, 76, 0, 1) 0%,
		rgba(255, 136, 0, 1) 50%, rgba(255, 195, 110, 1) 100%);
	padding: 13px;
	border-radius: 9px 9px 9px 9px;
	-webkit-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
}

#quadrato-podcast {
	background: rgb(82, 92, 222);
	background: linear-gradient(90deg, rgba(82, 92, 222, 1) 3%,
		rgba(114, 125, 216, 1) 19%, rgba(142, 151, 228, 1) 39%,
		rgba(193, 199, 246, 1) 97%);
	padding: 13px;
	border-radius: 9px 9px 9px 9px;
	-webkit-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
}

#imgRosario {
	margin-top: 10px;
	border-radius: 10%;
	border: 1px solid black;
}

audio {
	width: 65%;
}

.evento {
	width: 82%;
	box-shadow: -1px 9px 8px 3px rgba(0, 0, 0, 0.76);
	background-color: white;
	color: black;
	margin-bottom: 50px;
}

#evento-title {
	color: black;
}

#eventoBody {
	color: black;
	margin-bottom: 50px;
}

#mostraltro>a:hover {
	background-color: black;
}

#vedi:hover {
	color: black;
}

#vedi2:hover {
	color: black;
}

#vedi3 {
	background-color: #303030;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #1570cd;
}

#vedi2 {
	box-shadow: inset 0px 1px 0px 0px #97c4fe;
	background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color: #3d94f6;
	border-radius: 6px;
	border: 1px solid #337fed;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #1570cd;
	margin-left: 300px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.myButton:hover {
	background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color: #1e62d0;
}

.myButton:active {
	position: relative;
	top: 1px;
}

#utente-foto-profilo {
	-webkit-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
}

#headerHR {
	width: 100%;
	filter: brightness(85%);
	height: 700px;
}

#comunicazione {
	background-color: #1C1C1C;
	border-radius: 4px 4px 4px 4px;
	margin: auto;
	padding: 10px;
}

#XX {
	display: none;
}

#evento1life {
	display: block;
}

#frecciaeventi2 {
	display: none;
}

#eventoWork2 {
	display: none;
}

.modulo {
	width: 82%;
	box-shadow: -1px 9px 8px 3px rgba(0, 0, 0, 0.76);
	background-color: #1C1C1C;
	color: black;
	margin-bottom: 50px;
}

#modulo-title {
	color: #F3F3F3;
}

#modulo-body {
	color: black;
	margin-bottom: 50px;
	padding: 10px;
}

#colForm {
	background-color: #3A5497;
	margin: auto;
	margin-top: 270px;
	padding: 15px;
}

#pubblicaSubmit {
	padding: 8px;
	background-color: #303030;
	color: #F3F3F3;
	margin: auto;
	float: right;
	-webkit-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.75);
	border: 0px solid #303030;
	margin-top: 30px;
}

#pubblicaSubmit:hover {
	background-color: blue;
}

#libri {
	padding: 8px;
	margin: 20px;
	text-align: center;
	vertical-align: center;
	color: #F3F3F3;
}

#tablesondaggi2 {
	display: none;
}

#altriPodcast {
	display: none;
}