<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="it">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="description" content="Questo è un profilo admin">
  <meta name="viewport" content="width=device-width, initial-scale=1,
  shrink-to-fit=no">

  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
  crossorigin="anonymous">

  <title>elimina_utente</title>
  <style media="screen">
  body{
    font-family: Noto Sans, sans-serif;
    color: #F3F3F3;
    background-color: #303030;
  }
  </style>
</head>
<body>
  <div class="container">

    <!-- ROW CON TASTO BACK, INPUT E LOGO -->
    <div class="row mt-5">
      <div class="col">
        <button class="btn btn-primary" onclick="goBack()">TORNA INDIETRO</button>
        <script>
        function goBack() {
          window.history.back();
        }
        </script>
      </div>
      <div class="col-8 text-center mt-5">
      </div>
      <div class="col">
        <img class="img-fluid rounded bg-white w-100 float-left mt-1 ml-2"
        src="/view/Profile/Images/erre_group.png" alt="erre_logo" >
      </div>
    </div>

    <!--RUOLI-->
    <div class="row mt-5">
      <div class="col">
        <div class="container-fluid border border-white mt-5">
          <h3 class="h3 text-center mb-5 mt-1">GESTISCI RUOLO DI UN UTENTE</h3>
          <form class="text-center" method="post" th:action="">
            <div class="form-row ">
              <div class="form-group ml-4 col-lg-10">
                <select class="form-control ml-4" name="" id="">
                  <option value="null">NOME E COGNOME</option>
                  <option th:each="utente : ${utenti}" th:name ="id_eliminato"
                  th:value="${utente.id}" th:text="${utente.nome} + ' ' + ${utente.cognome}">
                </select>
              </div>
              <div class="form-row ml-5">
                <div class="form-group col-lg-10">
                  <select class="form-control" name="ruolo" id="ruolo">
                    <option value="null">RUOLO</option>
                    <option th:each="utente : ${utenti}" th:name ="id_eliminato"
                    th:value="${utente.id}" th:text="${utente.nome} + ' ' + ${utente.cognome}">
                  </select>
                </div>
              </div>
            </div>
            <div class="text-center">
              <input class="btn btn-success mb-3" type="submit" value ="ASSEGNA">
            </div>

          </form>
        </div>
      </div>

      <!--SINGOLI PERMESSI-->
      <div class="col">
        <div class="container-fluid border border-white mt-5">
          <h3 class="h3 text-center mb-5 mt-1">ASSEGNA PERMESSI AD UN UTENTE</h3>
          <form class="" th:action="@{/profile/addPermesso(email = ${email} , flag = ${flag})}" method="post">
            <div class="form-row ">
              <div class="form-group ml-4 col-lg-10">
                <select id="nome_cognome" class="form-control ml-4" name="" id="">
                  <option value="null">NOME, COGNOME ED EMAIL </option>
                  <option th:each="utente : ${utenti}" th:name ="nome_cognome"
                  th:value="${utente.id}" th:text="${utente.nome} + ' ' + ${utente.cognome}">
                </select>
              </div>
              <div class="form-row">
                <div class="form-group ml-5" id="gruppo_check">
                  <div class="form-check ml-3">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck1" >
                    <label class="form-check-label" for="invalidCheck1">
                      Check 1
                    </label>
                  </div>
                  <div class="form-check ml-3">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2">
                    <label class="form-check-label" for="invalidCheck2">
                      Check 2
                    </label>
                  </div>
                  <div class="form-check ml-3">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck3">
                    <label class="form-check-label" for="invalidCheck3">
                      Check 3
                    </label>
                  </div>
                  <div class="form-check ml-3">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck4">
                    <label class="form-check-label" for="invalidCheck4">
                      Check 4
                    </label>
                  </div>
                  <div class="form-check ml-3">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck5" >
                    <label class="form-check-label" for="invalidCheck5">
                      Check 5
                    </label>
                  </div>
                  <div class="form-check ml-3">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck6">
                    <label class="form-check-label" for="invalidCheck6">
                      Check 6
                    </label>
                  </div>
                  <div class="form-check ml-3">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck7">
                    <label class="form-check-label" for="invalidCheck7">
                      Check 7
                    </label>
                  </div>
                  <div class="form-check ml-3">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck8">
                    <label class="form-check-label" for="invalidCheck8">
                      Check 8
                    </label>
                  </div>
                  <div class="form-check ml-3">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck9">
                    <label class="form-check-label" for="invalidCheck9">
                      Check 9
                    </label>
                  </div>
                </div>

              </div>
              <div class="container text-center">
                <input class="btn btn-success mb-3" type="submit" value ="ASSEGNA">
              </div>
            </form>

          </div>
        </div>

      </div>

    </div>

    <script>
    function sendAjaxRequest() {
      var nome = $("#email").val();
      $("#gruppo_check").empty();
      $.get( "http://localhost:8080/profile/getPermessiMancanti?email=" + nome, function( data ) {
        $.each(data, function(key, value) {
          let checkbox = "<input class='form-check-input' type='checkbox' value="+key+" id='invalidCheck'"+key+">" + "<label class="form-check-label" for="">" + value + "
          </label>" ;
          $("#gruppo_check").append(checkbox);
        });
      });

      $.get( "http://localhost:8080/profile/getAllPermessi?email=" + email, function( data ) {
        $.each(data, function(key, value) {
          let option = "<option value = " + key + ">" + value +  "</option>";
          $("#TuttiPermessi").append(option);
        });
      });

    };

    $(document).ready(function() {
      $("#email").change(function() {
        sendAjaxRequest();
      });
    });
  </script>


  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
  crossorigin="anonymous"></script>
</body>
</html>
