

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Video editing</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" content-type="" th:href="@{/view/cssGio/style.css}">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<style>
	body{
		background-repeat: no-repeat, repeat;
		background-attachment: fixed;


	}
	#input {
		background-color: #E2E2E2;
		border-radius: 0px 0px 0px 0px;
		border: 0px solid #E2E2E2;

	}

</style>

</head>

<body th:style="'background-image: url(' + @{/view/Login/images/bg.jpg} +');'">

	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="colForm">

				<h4 style="text-align: center; margin-bottom:5px;"> Inserisci un nuovo video
				</h4 ><hr style="background-color: #F3F3F3; ">

				<p style="text-align: right; margin-bottom: 30px;display: inline-block;">
					<a class="mr-2" th:href="@{/myWork/}" style="color: #F3F3F3;">
						<img th:src="@}{/view/MyWork/images/frecciasinistra.png}" style="display: inline-block;" width="20%">Torna indietro
					</a>
				</p>
				<br>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin-left: 12px; font-size: 18px">
    Come inserire il link giusto
  </button> <br>
    <div class="modal" id="myModal" style="color: #303030">
    <div class="modal-dialog" >
      <div class="modal-content" style="width: 700px; margin: 0 auto;">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="font-size: 22px; color: #303030" > Come inserire il link giusto: </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="color: #303030">

        <p style="font-size: 20px; font-weight: 900; color: #303030"> PASSO 1: </p>
 		<p  style="color: #303030">  Scegliere il video da condividere (Youtube/Vimeo) e aprire il link come per riprodurlo </p>
 		<img th:src="@{/view/MyWork/images/riproduci.png}" width="100%" >
 		<br><br>
 		<p style="font-size: 20px; font-weight: 900; color: #303030"> PASSO 2: </p>
 		<p  style="color: #303030"> Selezionare "Condividi" a destra sotto la riproduzione </p>
 		<img th:src="@{/view/MyWork/images/condividi.png}" width="100%" >
 		<br><br>
 		<p style="font-size: 20px; font-weight: 900; color: #303030"> PASSO 3: </p>
 		<p  style="color: #303030"> Selezionare "Incorpora"</p>
 		<img th:src="@{/view/MyWork/images/incorpora.png}" width="100%" >
 		<br><br>
 		<p style="font-size: 20px; font-weight: 900; color: #303030"> PASSO 4: </p>
 		<p  style="color: #303030"> Copiare la parte di testo (link) evidenziata in giallo senza le virgolette</p>
 		<img th:src="@{/view/MyWork/images/evidenzia.png}" width="100%" >
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div> <br>
				<form th:object="${video}" th:action="@{/myWork/video}"
				method="post" enctype="multipart/form-data"  class="signin-form">

				<div class="form-group col-12">
					<label for="nomevideo"> Nome Video </label>
					<input type="text"  name="sottoTitolo" th:value="*{sottoTitolo}" class="form-control"  id="input"  required>
				</div>

				<div class="form-group col-12">
					<label for="linkvideo"> Link per video </label>
					<input type="url"  name="link" th:value="*{link}" class="form-control"  id="input" required>
				</div>

				<div class="form-group col-4">
					<input class="form-control" type="submit" id="pubblicaSubmit" value="Pubblica">
				</div>
			</form>

		</div>
	</div>
</div>
</body>
</html>
