<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Comunicazioni HR editing</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" content-type="" href="/view/cssGio/style.css">

  <style>
  body {
    background-image: url("/view/MyWork/images/background.png");
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
  }

  #input {
    background-color: #E2E2E2;
    border-radius: 0px 0px 0px 0px;
    border: 0px solid #E2E2E2;
  }
  </style>

</head>
<body>
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-6 ml-5 mr-5">
        <h2 class="h2 text-center mb-3">Tutte le comunicazioni</h2>
        <div class="container text-center">
          <p style="text-align: right; margin-bottom: 30px;display: inline-block;">
            <a class="mr-2" th:href="@{/comunicazioniHr/}" style="color: #F3F3F3;">
              <img src="/view/MyWork/images/frecciasinistra.png" style="display: inline-block;" width="20%">Torna indietro
            </a>
          </p>
          <input class="h3" type="text" id="myInput" onkeyup="myFunction()" placeholder="Filtra per nome" title="Cerca per nome" style="color:black;">
        </div>
        <div class="container">
          <table id="myTable" class="table table-bordered table-hover bg-white">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Scarica</th>
                <th scope="col">Funzioni</th>
              </tr>
            </thead>
            <tbody>

              <tr th:each="comunicazione: ${comunicazioni}">
                <td th:text="${#dates.format(comunicazione.timestamp*1000, 'dd/MM/yyyy')}"></td>
                <td th:text="${comunicazione.descrizione}" style="word-wrap: break-word;"></td>
                <td>
                  <img src="/view/MyWork/images/pdf-icon.png" width="7%">
                  <a th:href="@{/file/downloadFileHR(id=${comunicazione.id})}"
                  th:text="${comunicazione.nome}" th:download="${comunicazione.nome}"></a>
                </td>
                <td>
                  <form th:action="@{/file/deleteFileHR(id=${comunicazione.id})}" method="post">
                    <button class="btn btn-danger" type="submit">Elimina</button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
          <script type="text/javascript">
          var tables = document.getElementsByTagName('tbody');
          var table = tables[tables.length - 1];
          var rows = table.rows;
          for(var i = 0, td; i < rows.length; i++){
            console.log("ciao");
            td = document.createElement('td');
            td.appendChild(document.createTextNode(i + 1));
            rows[i].insertBefore(td, rows[i].firstChild);
          }
          </script>
        </div>


      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="colForm">
        <div class="container" sec:authorize="hasAuthority('GHR')">
          <h4 style="text-align: center; margin-bottom: 5px;">Inserisci una
            nuova comunicazione HR</h4>
            <hr style="background-color: #F3F3F3;">


            <p th:text="${message}" th:if="${message ne null}"
            class="alert alert-info"></p>
            <form th:action="@{/file/uploadHR}" th:object="${comunicazioneHR}"
            method="post" enctype="multipart/form-data" class="signin-form">
            <div class="form-group col-12">
              <label for="nome">Descrizione (max 40 )</label>
              <input type="text" name="nome" th:field="*{descrizione}" class="form-control" id="input" maxlength="40" required>
            </div>

            <div class="form-group col-8">
              <label for="file">File</label>
              <input type="file" class="form-control-file" accept="application/pdf/doc/odt" name="file" id="file" required>
            </div>
            <div class="form-group col-4">
              <input class="form-control" type="submit" id="pubblicaSubmit" value="Pubblica">
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>

  <script>


  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
</body>
</html>
