<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.testo {
	resize: none;
}
</style>
<meta charset="ISO-8859-1">
<title>Bacheca Erre Technology Group</title>
</head>
<body>
<div th:with="DPS = ${#authorization.expression('hasAuthority(''DPS'')')}, 
			  RS = ${#authorization.expression('hasAuthority(''RS'')')},
			  WPS = ${#authorization.expression('hasAuthority(''WPS'')')},
			  DCS = ${#authorization.expression('hasAuthority(''DCS'')')},
			  CPS = ${#authorization.expression('hasAuthority(''CPS'')')}">
	<div align="center">Benvenuto nella bacheca di Erre Technology!</div>
	<div th:if="${RS}">
		<table>
			
			<tr th:each="post: ${messaggi}">
				
			<td>
				<table>
					<thead>
					<tr>
				<td>
				------------------------------------------------------------------------------------------------------
				</td>
			</tr>
						<tr>
							<td th:text="${post.autore.nome}" />
							<td th:text="${post.autore.cognome}" />
							<td th:text="${#dates.format(post.timestamp*1000, 'dd/MM/yyyy, HH:mm')}"/>
						</tr>
						<tr>
							<td th:text="${post.testo}" />
							
							<td th:if="${DPS} or ${post.autore.id} == ${session.id}">
								<form th:action="@{/bacheca/deletePost(id=${post.id})}" method="post">
									<button name="button" type="submit">Elimina</button>
								</form>
							</td>
						</tr>
					</thead>
					<tbody border="1">
						<tr>
							<td>
								Commenti:
							</td>
						</tr>
						<tr th:each="commento : ${post.setCommenti}" th:if="${commento.visibile}">
							<td th:text="${commento.autore.nome}" />
							<td th:text="${commento.autore.cognome}" />
							<td th:text="${commento.testo}" />
							<td th:text="${#dates.format(commento.timestamp*1000, 'dd/MM/yyyy, HH:mm')}"/>
							<td th:if="${DCS} or ${commento.autore.id} == ${session.id} or ${post.id} == ${session.id}">
								<form th:action="@{/bacheca/deleteCommento(id=${commento.id})}" method="post">
									<button name="button" type="submit">Elimina</button>
								</form>
							</td>
						</tr>
						<tr>
							<td>
						 		<div th:if="${CPS}">
									<form th:action="@{/bacheca/addCommento(idPost=${post.id})}" method="post">
										<textarea class="testo" name="testo" placeholder="Inserisci un commento"
											cols="50" rows="2.5" required></textarea>
										<input type="submit" value="Invia" />
									</form>
								</div>
						 	</td>
						</tr>
					</tbody>
				</table>
			</td>
			
				
			</tr>
			
		</table>
	</div>
	<div th:if="${WPS}">
		<form th:action="@{/bacheca/addPost}" method="post">
			<textarea class="testo" name="testo" placeholder="Inserisci un post"
				cols="50" rows="2.5" required></textarea>
			<input type="submit" value="Invia" />
		</form>
	</div>
	<!--  
<form method = "POST" id = "form2" th:action="@{/bacheca/addMessaggio}" th:objects="${Post}">
<label for = "testo">Messaggio</label>
<textarea cols="50" rows="2.5" class="testo" th:filed="${Post.testo}" required></textarea>
 <input type = "submit" id = "testo" value = "Invia"/>
 </form>
 -->
 </div>
</body>
</html>