<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/categoriacinema/insert}" th:object="${categoriaCinema}" onsubmit="return validateForm()" method="post">
		<div id="message-error" class="row justify-content-center mt-2"></div>
	  <label for="nome">Nome:</label><br>
	  <input type="text" id="nome" name="nome" th:field="*{nome}" required><br>
	  <br>
	  <input type="submit" value="Salva">
	</form>


<script>
function validateForm(){
	if(document.getElementById("nome").value.trim() == ""){
		let p = "<p class='p text-danger'>Il campo nome non puo' contenere solo spazi</p>" + "<br>";
   		 $("#message-error > p").remove();
   		 $("#message-error").append(p);
   		 return false;
	} return true;
}
</script>
</body>
</html>