<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
<form method="post" th:action="@{/profile/elimina}">
<select name="id_eliminato" id="id_eliminato">
  <option value="null">***</option>
  <option th:each="utente : ${utenti}" th:name ="id_eliminato" th:value="${utente.id}" th:text="${utente.nome} + ' ' + ${utente.cognome}">
</select>
<input type="submit" value ="eliminalo! SbamSbamSbam">
</form>
</div>
</body>
</html>