<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="description" content="Questo è un profilo admin">
  <meta name="viewport" content="width=device-width, initial-scale=1,
  shrink-to-fit=no">

  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
  crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <title>elimina_utente</title>
  <style media="screen">
  body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover,contain ;
    color:#F3F3F3;
    font-family: Noto Sans, sans-serif;
  }
</style>
</head>
<body th:style="'background-image:url(' + @{/view/MyWork/images/carbonio.jpg} + ');'">
  <div class="container">

    <!-- ROW CON INPUT -->
    <div class="row mt-5">
      <div class="col">
        <a class="btn btn-primary" th:href="@{/profile/}">TORNA INDIETRO</a>
    </div>

    <div class="col-8 text-center mt-5">
      <div class="container-fluid border border-white mt-5" style="background-color: #303030;">
        <h1 class="h1 mb-5 mt-1">SCEGLI QUALE UTENTE ELIMINARE</h1>

        <div th:if="${messaggio != null}" class="row justify-content-center mt-2">
    		<p class="p text-warning">[[${messaggio}]]</p>
	  	</div>

        <form method="post" th:action="@{/profile/elimina}">
          <div class="form-row ">
            <div class="form-group ml-5 col-lg-10">
              <select class="form-control ml-2" name="id_eliminato" id="id_eliminato" required>
                <option value="">NOME, COGNOME ED EMAIL</option>
                <option th:each="utente : ${utenti}" th:name ="id_eliminato"
                th:value="${utente.id}" th:text="${utente.nome} + ' ' + ${utente.cognome}+ ' '+ '_'+ ' '+ '_'+ ' '+ ${utente.utente.email} ">
              </select>
            </div>
          </div>
          <input class="btn btn-danger mb-3" type="submit" value ="Elimina">
        </form>
      </div>
    </div>

    <div class="col">
      <a href="https://erretechnology.com/" target="blank"><img
        th:src="@{/view/MyWork/images/errelogowhite.png}" height="80px"
        alt="erre_logo"></a>
    </div>
  </div>

</div>


<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
crossorigin="anonymous"></script>
</body>
</html>
