<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/evento/insert}" th:object="${evento}" method="post" enctype="multipart/form-data">
	  <label for="titolo">Titolo:</label><br>
	  <input type="text" id="titolo" name="titolo" th:field="*{titolo}"><br>
	  <label for="contenuto">Contenuto:</label><br>  
	  <input type="text" id="contenuto" name="contenuto" th:field="*{contenuto}"><br>
	  <input type="file" name="immagine" accept="image/png, image/jpeg"/>
	  <br>
	 
	  <label for="date">Data:</label><br>
	  <input type="date" id="date" name="date"><br>
	  <label for="via">Via:</label><br>
	  <input type="text" id="via" name="via"><br>
	  <label for="citta">Citta:</label><br>
	  <input type="text" id="citta" name="citta"><br>
	  <label for="provincia">Provincia:</label><br>
	  <input type="text" id="provincia" name="provincia"><br>
	  
	  <input type="hidden" id="isLife" name="isLife" value="true">
	  <input type="submit" value="Pubblica">
	</form>



</body>
</html>