<!DOCTYPE html>
<html lang="it" dir="ltr" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit="yes" >

  <title>Gestione Suprema</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <!-- Script Js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

  <style>
  body{
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover, contain;

  }

  </style>
</head>
<body th:style="'background-image: url(' + @{/view/MyWork/images/carbonio.jpg} +');'">
  <div id="header" class="container-fluid">
    <div class="row mt-3 mb-5 justify-content-center">
      <div class="col-auto mt-2">
        <a th:href="@{/homepage/}" class="btn btn-primary" type="button" name="button">HOMEPAGE</a>
      </div>
      <div class="col-auto mr-5 mt-2">
        <a th:href="@{/profilo/}" class="btn btn-primary" type="button" name="button">PROFILO</a>
      </div>
      <div class="col-auto mt-2">
        <a href="#libri"  class="btn btn-info" type="button" name="button">LIBRI</a>
      </div>
      <div class="col-auto mt-2">
        <a href="#cinema" class="btn btn-info" type="button" name="button">CINEMA</a>
      </div>
      <div class="col-auto mt-2">
        <a href="#clienti" class="btn btn-info" type="button" name="button">CLIENTI</a>
      </div>
      <div class="col-auto mt-2">
        <a href="#commenti" class="btn btn-info" type="button" name="button">COMMENTI POST</a>
      </div>
      <div class="col-auto mt-2 ">
        <a href="#post" class="btn btn-info" type="button" name="button">POST BACHECA</a>
      </div>
      <div class="col-auto  mt-2">
        <a href="#hr" class="btn btn-info" type="button" name="button">COMUNICAZIONI HR</a>
      </div>
      <div class="col-auto mt-2 ">
        <a href="#moduli" class="btn btn-info" type="button" name="button">MODULI</a>
      </div>
      <div class="col-auto mt-2">
        <a href="#podcast" class="btn btn-info" type="button" name="button">PODCAST</a>
      </div>
      <div class="col-auto mt-2">
        <a href="#sondaggi" class="btn btn-info" type="button" name="button">SONDAGGI</a>
      </div>
      <div class="col-auto mt-2">
        <a href="#news" class="btn btn-info" type="button" name="button">NEWS</a>
      </div>
      <div class="col-auto mt-2">
        <a href="#eventi" class="btn btn-info" type="button" name="button">EVENTI</a>
      </div>
    </div>
  </div>


  <div class="container-fluid mb-5">
    <div class="row mt-5 ml-2 mr-2">
      <div class="col mt-5">
        <div class="container text-center">
          <h2 id="libri" class="h2" style="color: white">GESTISCI LIBRI</h2>
        </div>
        <div class="container text-right mb-2">
          <a href="#header" style="text-decoration: none; color: white;">Torna su<img width="35px"
            th:src="@{/view/Admin/images/up_arrow.png}" alt="upArrow"> </a>
          </div>
          <table  class="table bg-white table-striped table-hover table-bordered">
            <thead class="thead-dark text-center">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Titolo</th>
                <th scope="col">Autore</th>
                <th scope="col">Data e ora</th>
                <th scope="col">Funzioni</th>
              </tr>
            </thead>
            <tbody >
              <tr th:each="libro:${libri}">
                <td class="text-center" th:text="${libro.id}"></td>
                <th th:text="${libro.titolo}"></th>
                <td th:text="${libro.scrittore}"></td>
                <td th:utext="${#dates.format(libro.timestampEliminazione*1000, 'dd/MM/yyyy, HH:mm')}"></td>
                <td>
                  <div class="img-fluid text-center">
                    <a th:href="@{/my-life/libri/ripristina/(id=${libro.id})}"><img title="ripristina elemento"
                      width="27px" th:src="@{/view/Admin/images/restore_icon.png}" alt="restore"></a>
                      <a th:href="@{/my-life/libri/cancella/(id=${libro.id})}"><img title="elimina elemento" class=""
                        width="27px" th:src="@{/view/Admin/images/delete_icon.png}" alt="delete"></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col mt-5">
              <div class="container text-center">
                <h2 id="cinema" class="h2" style="color: white">GESTISCI CINEMA</h2>
              </div>
              <div class="container text-right mb-2">
                <a href="#header" style="text-decoration: none; color: white;">Torna su<img width="35px"
                  th:src="@{/view/Admin/images/up_arrow.png}" alt="upArrow"> </a>
                </div>
                <table  class="table bg-white table-striped table-hover table-bordered">
                  <thead class="thead-dark text-center">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Titolo</th>
                      <th scope="col">Piattaforma</th>
                      <th scope="col">Data e ora</th>
                      <th scope="col">Funzioni</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="film:${film}">
                      <td class="text-center" scope="row" th:text="${film.id}"></td>
                      <th th:text="${film.titolo}"></th>
                      <td th:text="${film.categoria.nome}"></td>
                      <td th:utext="${#dates.format(film.timestampEliminazione*1000, 'dd/MM/yyyy, HH:mm')}"></td>
                      <td>
                        <div class="img-fluid text-center">
                          <a th:href="@{/my-life/film-serie/ripristina/(id=${film.id})}"><img title="ripristina elemento"
                            width="27px" th:src="@{/view/Admin/images/restore_icon.png}" alt="restore"></a>
                            <a th:href="@{/my-life/film-serie/cancella/(id=${film.id})}"><img title="elimina elemento" class=""
                              width="27px" th:src="@{/view/Admin/images/delete_icon.png}" alt="delete"></a>
                            </div>
                          </td>
                        </tr>

                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

              <div class="container-fluid mb-5">
                <div class="row mt-5 ml-2 mr-2">
                  <div class="col mt-5">
                    <div class="container text-center">
                      <h2 id="clienti" class="h2" style="color: white">GESTISCI CLIENTI</h2>
                    </div>
                    <div class="container text-right mb-2">
                      <a href="#header" style="text-decoration: none; color: white;">Torna su<img width="35px"
                        th:src="@{/view/Admin/images/up_arrow.png}" alt="upArrow"> </a>
                      </div>
                      <table  class="table bg-white table-striped table-hover table-bordered">
                        <thead class="thead-dark text-center">
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Data e ora</th>
                            <th scope="col">Funzioni</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="clienti:${client}">
                            <td class="text-center" scope="row" th:text="${clienti.id}"></td>
                            <th th:text="${clienti.nome}"></th>
                            <td th:utext="${#dates.format(clienti.timestampEliminazione*1000, 'dd/MM/yyyy, HH:mm')}"></td>
                            <td>
                              <div class="img-fluid text-center">
                                <a th:href="@{/my-work/clienti/ripristina/(id=${clienti.id})}"><img title="ripristina elemento"
                                  width="27px" th:src="@{/view/Admin/images/restore_icon.png}" alt="restore"></a>
                                  <a th:href="@{/my-work/clienti/cancella/(id=${clienti.id})}"><img title="elimina elemento" class=""
                                    width="27px" th:src="@{/view/Admin/images/delete_icon.png}" alt="delete"></a>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <div class="col mt-5">
                          <div class="container text-center">
                            <h2 id="commenti" class="h2" style="color: white">GESTISCI COMMENTI POST</h2>
                          </div>
                          <div class="container text-right mb-2">
                            <a href="#header" style="text-decoration: none; color: white;">Torna su<img width="35px"
                              th:src="@{/view/Admin/images/up_arrow.png}" alt="upArrow"> </a>
                            </div>
                            <table  class="table bg-white table-striped table-hover table-bordered">
                              <thead class="thead-dark text-center">
                                <tr>
                                  <th scope="col">ID</th>
                                  <th scope="col">Autore</th>
                                  <th scope="col">Testo</th>
                                  <th scope="col">Data e ora</th>
                                  <th scope="col">Funzioni</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr th:each="commenti : ${commenti}">
                                  <td class="text-center" scope="row" th:text="${commenti.id}"></td>
                                  <th th:text="${commenti.autore.nome} + ' ' + ${commenti.autore.cognome}"></th>
                                  <td th:text="${commenti.testo}"></td>
                                  <td th:utext="${#dates.format(commenti.timestampEliminazione*1000, 'dd/MM/yyyy, HH:mm')}"></td>
                                  <td>
                                    <div class="img-fluid text-center">
                                      <a th:href="@{/my-life/ripristina-commento/(id=${commenti.id})}"><img title="ripristina elemento"
                                        width="27px" th:src="@{/view/Admin/images/restore_icon.png}" alt="restore"></a>
                                        <a th:href="@{/my-life/cancella-commento/(id=${commenti.id})}"><img title="elimina elemento" class=""
                                          width="27px" th:src="@{/view/Admin/images/delete_icon.png}" alt="delete"></a>
                                        </div>
                                      </td>
                                    </tr>

                                  </tbody>
                                </table>

                              </div>
                            </div>
                          </div>

                          <div class="container-fluid mb-5">
                            <div class="row mt-5 ml-2 mr-2">
                              <div class="col mt-5">
                                <div class="container text-center">
                                  <h2 id="post" class="h2" style="color: white">GESTISCI POST BACHECA</h2>
                                </div>
                                <div class="container text-right mb-2">
                                  <a href="#header" style="text-decoration: none; color: white;">Torna su<img width="35px"
                                    th:src="@{/view/Admin/images/up_arrow.png}" alt="upArrow"> </a>
                                  </div>
                                  <table class="table bg-white table-striped table-hover table-bordered">
                                    <thead class="thead-dark text-center">
                                      <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Autore</th>
                                        <th scope="col">Testo</th>
                                        <th scope="col">Data e ora</th>
                                        <th scope="col">Funzioni</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr th:each= "post : ${post}">
                                        <td class="text-center" scope="row" th:text="${post.id}"></td>
                                        <th th:text="${post.autore.nome} + ' ' + ${post.autore.cognome}"></th>
                                        <td th:text="${post.testo}"></td>
                                        <td th:utext="${#dates.format(post.timestampEliminazione*1000, 'dd/MM/yyyy, HH:mm')}"></td>
                                        <td>
                                          <div class="img-fluid text-center">
                                            <a th:href="@{/my-life/ripristina-post/(id=${post.id})}"><img title="ripristina elemento"
                                              width="27px" th:src="@{/view/Admin/images/restore_icon.png}" alt="restore"></a>
                                              <a th:href="@{/my-life/cancella-post/(id=${post.id})}"><img title="elimina elemento" class=""
                                                width="27px" th:src="@{/view/Admin/images/delete_icon.png}" alt="delete"></a>
                                              </div>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>

                                    <div class="col mt-5">
                                      <div class="container text-center">
                                        <h2 id="hr" class="h2" style="color: white">GESTISCI COMUNICAZIONI HR</h2>
                                      </div>
                                      <div class="container text-right mb-2">
                                        <a href="#header" style="text-decoration: none; color: white;">Torna su<img width="35px"
                                          th:src="@{/view/Admin/images/up_arrow.png}" alt="upArrow"> </a>
                                        </div>
                                        <table  class="table bg-white table-striped table-hover table-bordered">
                                          <thead class="thead-dark text-center">
                                            <tr>
                                              <th scope="col">ID</th>
                                              <th scope="col">Nome file</th>
                                              <th scope="col">Descrizione</th>
                                              <th scope="col">Data e ora</th>
                                              <th scope="col">Funzioni</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr th:each="comunicazioniHr : ${comunicazioniHR}">
                                              <td class="text-center" scope="row" th:text="${comunicazioniHr.id}"></td>
                                              <th th:text="${comunicazioniHr.nome}"></th>
                                              <td th:text="${comunicazioniHr.descrizione}"></td>
                                              <td th:utext="${#dates.format(comunicazioniHr.timestampEliminazione*1000, 'dd/MM/yyyy, HH:mm')}"></td>
                                              <td>
                                                <div class="img-fluid text-center">
                                                  <a th:href="@{/my-work/comunicazioni/hr/ripristina/(id=${comunicazioniHr.id})}"><img title="ripristina elemento"
                                                    width="27px" th:src="@{/view/Admin/images/restore_icon.png}" alt="restore"></a>
                                                    <a th:href="@{/my-work/comunicazioni/hr/cancella/(id=${comunicazioniHr.id})}"><img title="elimina elemento" class=""
                                                      width="27px" th:src="@{/view/Admin/images/delete_icon.png}" alt="delete"></a>
                                                    </div>
                                                  </td>
                                                </tr>

                                              </tbody>
                                            </table>

                                          </div>
                                        </div>
                                      </div>

                                      <div class="container-fluid mb-5">
                                        <div class="row mt-5 ml-2 mr-2">
                                          <div class="col mt-5">
                                            <div class="container text-center">
                                              <h2 id="moduli" class="h2" style="color: white">GESTISCI MODULI</h2>
                                            </div>
                                            <div class="container text-right mb-2">
                                              <a href="#header" style="text-decoration: none; color: white;">Torna su<img width="35px"
                                                th:src="@{/view/Admin/images/up_arrow.png}" alt="upArrow"> </a>
                                              </div>
                                              <table  class="table bg-white table-striped table-hover table-bordered">
                                                <thead class="thead-dark text-center">
                                                  <tr >
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Nome file</th>
                                                    <th scope="col">Descrizione</th>
                                                    <th scope="col">Settore</th>
                                                    <th scope="col">Data e ora</th>
                                                    <th scope="col">Funzioni</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr th:each="moduli : ${moduli}">
                                                    <td class="text-center" scope="row" th:text="${moduli.id}"></td>
                                                    <th th:text="${moduli.nome}"></th>
                                                    <td th:text="${moduli.descrizione}"></td>
                                                    <td th:text="${moduli.settore}"></td>
                                                    <td th:utext="${#dates.format(moduli.timestampEliminazione*1000, 'dd/MM/yyyy, HH:mm')}"></td>
                                                    <td>
                                                      <div class="img-fluid text-center">
                                                        <a th:href="@{/my-work/comunicazioni/moduli/ripristina/(id=${moduli.id})}"><img title="ripristina elemento"
                                                          width="27px" th:src="@{/view/Admin/images/restore_icon.png}" alt="restore"></a>
                                                          <a th:href="@{/my-work/comunicazioni/moduli/cancella/(id=${moduli.id})}"><img title="elimina elemento" class=""
                                                            width="27px" th:src="@{/view/Admin/images/delete_icon.png}" alt="delete"></a>
                                                          </div>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </div>

                                                <div class="col mt-5">
                                                  <div class="container text-center">
                                                    <h2 id="podcast" class="h2" style="color: white">GESTISCI PODCAST</h2>
                                                  </div>
                                                  <div class="container text-right mb-2">
                                                    <a href="#header" style="text-decoration: none; color: white;">Torna su<img width="35px"
                                                      th:src="@{/view/Admin/images/up_arrow.png}" alt="upArrow"> </a>
                                                    </div>
                                                    <table  class="table bg-white table-striped table-hover table-bordered">
                                                      <thead class="thead-dark text-center">
                                                        <tr >
                                                          <th scope="col">ID</th>
                                                          <th scope="col">Nome</th>
                                                          <th scope="col">Data e ora</th>
                                                          <th scope="col">Funzioni</th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                        <tr th:each="podcast : ${podcast}">
                                                          <td class="text-center" scope="row" th:text="${podcast.id}"></td>
                                                          <th th:text="${podcast.nome}"></th>
                                                          <td th:utext="${#dates.format(podcast.timestampEliminazione*1000, 'dd/MM/yyyy, HH:mm')}"></td>
                                                          <td>
                                                            <div class="img-fluid text-center">
                                                              <a th:href="@{/my-work/podcast/ripristina/(id=${podcast.id})}"><img title="ripristina elemento"
                                                                width="27px" th:src="@{/view/Admin/images/restore_icon.png}" alt="restore"></a>
                                                                <a th:href="@{/my-work/podcast/cancella/(id=${podcast.id})}"><img title="elimina elemento" class=""
                                                                  width="27px" th:src="@{/view/Admin/images/delete_icon.png}" alt="delete"></a>
                                                                </div>
                                                              </td>
                                                            </tr>

                                                          </tbody>
                                                        </table>

                                                      </div>
                                                    </div>
                                                  </div>

                                                  <div class="container-fluid mb-5">
                                                    <div class="row mt-5 ml-2 mr-2">
                                                      <div class="col mt-5">
                                                        <div class="container text-center">
                                                          <h2 id="sondaggi" class="h2" style="color: white">GESTISCI SONDAGGI</h2>
                                                        </div>
                                                        <div class="container text-right mb-2">
                                                          <a href="#header" style="text-decoration: none; color: white;">Torna su<img width="35px"
                                                            th:src="@{/view/Admin/images/up_arrow.png}" alt="upArrow"> </a>
                                                          </div>
                                                          <table  class="table bg-white table-striped table-hover table-bordered">
                                                            <thead class="thead-dark text-center">
                                                              <tr>
                                                                <th scope="col">ID</th>
                                                                <th scope="col">Nome</th>
                                                                <th scope="col">Link</th>
                                                                <th scope="col">Data e ora</th>
                                                                <th scope="col">Funzioni</th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                              <tr th:each="sondaggio : ${sondaggi}">
                                                                <th class="text-center" scope="row" th:text="${sondaggio.id}"></th>
                                                                <td th:text="${sondaggio.nomeSondaggio}"></td>
                                                                <td th:text="${sondaggio.link}"></td>
                                                                <td th:utext="${#dates.format(sondaggio.timestampEliminazione*1000, 'dd/MM/yyyy, HH:mm')}"></td>
                                                                <td>
                                                                  <div class="img-fluid text-center">
                                                                    <a th:href="@{/my-work/sondaggi/ripristina/(id=${sondaggio.id})}"><img title="ripristina elemento"
                                                                      width="27px" th:src="@{/view/Admin/images/restore_icon.png}" alt="restore"></a>
                                                                      <a th:href="@{/my-work/sondaggi/cancella/(id=${sondaggio.id})}"><img title="elimina elemento" class=""
                                                                        width="27px" th:src="@{/view/Admin/images/delete_icon.png}" alt="delete"></a>
                                                                      </div>
                                                                    </td>
                                                                  </tr>
                                                                </tbody>
                                                              </table>
                                                            </div>

                                                            <div class="col mt-5">
                                                              <div class="container text-center">
                                                                <h2 id="news" class="h2" style="color: white">GESTISCI NEWS</h2>
                                                              </div>
                                                              <div class="container text-right mb-2">
                                                                <a href="#header" style="text-decoration: none; color: white;">Torna su<img width="35px"
                                                                  th:src="@{/view/Admin/images/up_arrow.png}" alt="upArrow"> </a>
                                                                </div>
                                                                <table  class="table bg-white table-striped table-hover table-bordered">
                                                                  <thead class="thead-dark text-center">
                                                                    <tr>
                                                                      <th scope="col">ID</th>
                                                                      <th scope="col">Titolo</th>
                                                                      <th scope="col">Autore</th>
                                                                      <th scope="col">Data e ora</th>
                                                                      <th scope="col">Funzioni</th>
                                                                    </tr>
                                                                  </thead>
                                                                  <tbody>
                                                                    <tr th:each="news : ${news}">
                                                                      <td class="text-center" scope="row" th:text="${news.id}"></td>
                                                                      <th th:text="${news.titolo}"></th>
                                                                      <td th:text="${news.autore.nome} + ' ' + ${news.autore.cognome}"></td>
                                                                      <td th:utext="${#dates.format(news.timestampEliminazione*1000, 'dd/MM/yyyy, HH:mm')}"></td>
                                                                      <td>
                                                                        <div class="img-fluid text-center">
                                                                          <a th:href="@{/my-work/news/ripristina/(id=${news.id})}"><img title="ripristina elemento"
                                                                            width="27px" th:src="@{/view/Admin/images/restore_icon.png}" alt="restore"></a>
                                                                            <a th:href="@{/my-work/news/cancella/(id=${news.id})}"><img title="elimina elemento" class=""
                                                                              width="27px" th:src="@{/view/Admin/images/delete_icon.png}" alt="delete"></a>
                                                                            </div>
                                                                          </td>
                                                                        </tr>

                                                                      </tbody>
                                                                    </table>

                                                                  </div>
                                                                </div>
                                                              </div>

                                                              <div class="container mb-5">
                                                                <div class="row mt-5 ml-2 mr-2">
                                                                  <div class="col mt-5">
                                                                    <div class="container text-center">
                                                                      <h2 id="news" class="h2" style="color: white">GESTISCI EVENTI</h2>
                                                                    </div>
                                                                    <div class="container text-right mb-2">
                                                                      <a href="#header" style="text-decoration: none; color: white;">Torna su<img width="35px"
                                                                        th:src="@{/view/Admin/images/up_arrow.png}" alt="upArrow"> </a>
                                                                      </div>
                                                                      <table  class="table bg-white table-striped table-hover table-bordered">
                                                                        <thead class="thead-dark text-center">
                                                                          <tr>
                                                                            <th scope="col">ID</th>
                                                                            <th scope="col">Titolo</th>
                                                                            <th scope="col">Autore</th>
                                                                            <th scope="col">Data e ora</th>
                                                                            <th scope="col">Funzioni</th>
                                                                          </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                          <tr th:each="evento : ${eventi}">
                                                                            <td class="text-center" scope="row" th:text="${evento.id}"></td>
                                                                            <th th:text="${evento.titolo}"></th>
                                                                            <td th:text="${evento.autore.nome} + ' ' + ${evento.autore.cognome}"></td>
                                                                            <td th:utext="${#dates.format(evento.timestampEliminazione*1000, 'dd/MM/yyyy, HH:mm')}"></td>
                                                                            <td>
                                                                              <div class="img-fluid text-center" th:if ="${evento instanceof T(com.erretechnology.intranet.models.EventoLife)}">
                                                                                <a th:href="@{/my-life/eventi/ripristina/(id=${evento.id})}"><img title="ripristina elemento"
                                                                                  width="27px" th:src="@{/view/Admin/images/restore_icon.png}" alt="restore"></a>
                                                                                  <a th:href="@{/my-life/eventi/cancella/(id=${evento.id})}"><img title="elimina elemento" class=""
                                                                                    width="27px" th:src="@{/view/Admin/images/delete_icon.png}" alt="delete"></a>
                                                                                  </div>
                                                                                  <div class="img-fluid text-center" th:if ="${evento instanceof T(com.erretechnology.intranet.models.EventoWork)}">
                                                                                <a th:href="@{/my-work/eventi/ripristina/(id=${evento.id})}"><img title="ripristina elemento"
                                                                                  width="27px" th:src="@{/view/Admin/images/restore_icon.png}" alt="restore"></a>
                                                                                  <a th:href="@{/my-work/eventi/cancella/(id=${evento.id})}"><img title="elimina elemento" class=""
                                                                                    width="27px" th:src="@{/view/Admin/images/delete_icon.png}" alt="delete"></a>
                                                                                  </div>
                                                                                </td>
                                                                              </tr>

                                                                            </tbody>
                                                                          </table>

                                                                        </div>

                                                                      </div>
                                                                    </div>


                                                                  </body>
                                                                  </html>
