<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>

  <meta charset="utf-8">
  <title>Homepage_admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" content-type="" href="/view/Login/css/style.css">

</head>
<style media="screen">
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
</style>
<body>
  <div class="container" style="max-width: 100%;">
    <div id="overlay" class="row" style="margin-right: -84px; margin-left: -84px">
      <div class="col"style="padding-right: 0px !important; padding-left: 0px !important;">
        <img class="img-fluid" alt="my_work_1" src="view/Login/images/homepage/my_work_1.png" style="width:100%">
      </div>
      <div class="col" style="padding-left: 0px;">
        <img class="img-fluid" alt="my_work_1" src="view/Login/images/homepage/my_life_1.jpg" style="width:100%">
      </div>
    </div>
  </div>

</body>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

</html>
