<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>

  <meta charset="utf-8">
  <title>Homepage_admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" content-type="" href="/view/Login/css/style.css">

</head>
<style>
.img-responsive{
  width:100% !important;
  border-radius:0 0 5px 5px !important;
}
</style>
<body>

  <div class="container-fluid headerimage" style="padding:0 !important">
    <div class="col-md-12" style="padding:0 !important">
      <img src="view/Login/images/homepage/my_work_1.png" alt="mywork1" class="img-responsive" >
    </div>
    <div class="container">
      <button type="button" class="btn btn-primary">Entra</button>
    </div>
   </div>

    <div class="container-fluid headerimage" style="padding:0 !important">
      <div class="col-md-12" style="padding:0 !important">
        <img class="img-fluid" alt="my_life_1" src="view/Login/images/homepage/my_life_1.jpg" class="img-responsive" >
      </div>
      <div class="container">
        <button type="button" class="btn btn-primary">Entra</button>
      </div>
    </div>



  </body>

  <script src="view/Login/js/jquery.min.js"></script>
  <script src="view/Login/js/popper.js"></script>
  <script src="view/Login/js/bootstrap.min.js"></script>
  <script src="view/Login/js/main.js"></script>

  </html>
