<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>

  <meta charset="utf-8">
  <title>Homepage_admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" content-type="" href="/view/Login/css/style.css">
  <link rel="stylesheet" href="view/Login/scss/style.scss">

</head>

<body>
  ciao
  <div class="container">
    <div class="row">
      <div class="col" >
        
      </div>
      <div class="col">
      </div>
    </div>
</div>

</body>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

</html>
