<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
	<p th:utext="${session.id}"></p>
		This content is only shown to authenticated users.<br><br>
		<b>Logged user: </b><span sec:authentication="name"></span> <br>
		<b>Roles: </b><span sec:authentication="principal.authorities"></span>
		<br>
		<br>
	</div>
<div sec:authorize="!isAuthenticated()">
  non autenticato
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
  This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
  This content is only shown to users.
</div>
</body>
</html>