<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<title>Moduli</title>
	<meta name="description" content="Questo è un profilo admin">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Add text library -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat'
	rel='stylesheet' type='text/css'>
	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">

	<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/view/cssGio/style.css}">

<style media="screen">
.nav-link:hover {
	color: #ECF260;
	font-weight: 600;
}
.logo:hover{
	opacity: 1;
}
.logo{
	opacity: 0.5;
}
nav {
	font-size: 20px;
	color: #F3F3F3;
	width: 100%

}

.casa:hover {
	opacity: 0.8 !important;
}
</style>
</head>
<body ng-app=""
	th:with="GML = ${#authorization.expression('hasAuthority(''GML'')')}" onresize="myFunction()"
	  th:style="'background-image: url(' + @{/view/MyWork/images/carbonio.jpg} +');'"
>

	<nav class="navbar navbar-expand-lg bg-dark navbar-dark justify-content-end">
	<a class="navbar-brand logo" th:href="@{/homepage/}"><img
			th:src="@{/view/MyWork/images/casabianca.png}" width="30px"
			alt="homeBianca.png" style="opacity: 0.9" class="img-fluid"></a> 
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
    <li class="nav-item mr-3 mt-3"><a class="nav-link"
					th:href="@{/my-life1/}">MY LIFE</a></li>
					 <li class="nav-item mr-3 mt-3"><a class="nav-link"
					th:href="@{/my-work/}">MY WORK</a></li>
				<li class="nav-item mr-3 mt-3"><a class="nav-link"
					th:href="@{/my-work/comunicazioni/}">COMUNICAZIONI HR</a></li>
				<li class="nav-item mr-3 mt-3 active"><a class="nav-link"
					th:href="@{/my-work/comunicazioni/moduli/}">MODULI</a></li>
				<li class="nav-item mr-3 mt-3"><a class="nav-link"
					href="http://polyedro.erretechnology.com/www/" target="blank">POLYEDRO</a>
				</li>
       
        <li th:if="${user.setNotifiche != null}"
					class="nav-item avatar dropdown " style="cursor: pointer"><a
					class="nav-link dropdown-toggle waves-effect waves-light"
					id="navbarDropdownMenuLink-5" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="true"> <span
						class="badge badge-danger mr-n4"
						th:text="${user.setNotifiche.size}"></span> <i
						class="fa fa-bell mr-n4"></i>
				</a>
					<div
						class="dropdown-menu scrollable-menu dropdown-menu-lg-right dropdown-secondary"
						th:if="${user.setNotifiche.size > 0}"
						aria-labelledby="navbarDropdownMenuLink-5">
						<div class="dropdown-item waves-effect waves-light"
							th:each="i:${#numbers.sequence(user.setNotifiche.size() - 1, 0, -1)}"
							th:with="notifica=${user.setNotifiche[i]}">
							<a
								th:href="@{/profilo/elimina-notifica/{id}(id = ${notifica.id})}"><div>
									<p class="font-weight-bold"
										th:text="${notifica.utente.nome} + ' ' + ${notifica.utente.cognome}+ ' ' "
										style="COLOR: BLACK"></p>
									<p class="mt-n3" th:text="${notifica.descrizione}"
										style="COLOR: BLACK"></p>
									<p class="p mt-n2"
										th:utext="${#dates.format(notifica.timestamp*1000, 'dd/MM/yyyy, HH:mm')}"
										style="font-size: 10px; color: black"></p>
								</div></a>
							<hr>
						</div>
					</div></li>
					<li class="nav-item"><a th:href="@{/profilo/}"><img
						th:src="'data:image/jpeg;base64,' + ${user.immagine.getImgData(user.immagine.data)}"
						alt="utente" title="utente" class="immagineUtente img-fluid"
						id="utente-foto-profilo" style="border-radius: 50%;"></a></li>
    </ul>
  </div>  
</nav>

	<!-- BODY DEI MODULI -->

	<div class="container" th:with="GM = ${#authorization.expression('hasAuthority(''GM'')')}">
		<div th:if="${GM}">
		<br><br><br>
			<a th:href="@{/my-work/comunicazioni/moduli/aggiungi}" style="color: #F3F3F3; text-decoration: none;" >
				<img th:src="@{/view/MyWork/images/more.png}" width="30px" style="float: left; margin-bottom: 10px;">
				&nbsp;&nbsp;Aggiungi nuovo modulo
			</a>
			<br>
			<br>
		</div>
		<div class="row" style="margin-top: 50px" th:if="${filePdf!=null}">

			<div class="col-xs-9 col-sm-9 col-md-6 col-lg-6 col-xl-6"
				th:each="pdf: ${filePdf}" th:if="((${pdf.settore.nomeSettore} == ${user.settore.nomeSettore}) or ${GM}) and ${pdf.visibile}">
				<div class="modulo" style="margin: auto;"
				>
					<div id="modulo-img">
						<img th:src="@{/view/MyWork/images/modulo.png}" width="100%"
							height="200px">
					</div>
					<div id="modulo-titolo">
						<h4 style="display: inline-block; padding-left: 8px;"><strong>Modulo:</strong></h4><h4 style="padding: 8px; display: inline-block;" th:text="${pdf.nome}"></h4>
						<img th:src="@{/view/MyWork/images/pdf-icon.png}"
							style="float: right; margin: 8px;" width="30px">
						<form th:action="@{/my-work/comunicazioni/moduli/delete(id=${pdf.id})}" th:if="${GM}" method="post">
							<button type="submit"  id="bottoneModulo"> <img th:src="@{/view/MyWork/images/trash.png}" width="50%"></button>
							<img th:src="'data:image/jpeg;base64,' + ${pdf.settore.getImgData(pdf.settore.logo)}"
						alt="settore" title="settore" class="img-responsive" width="25%" style="border-radius: 6px 6px 0px 0px">
						</form>
					</div>
					<div id="modulo-body">
						<a th:href="@{/my-work/comunicazioni/moduli/download(id=${pdf.id})}"
							 th:download="${pdf.nome}"
							style="text-align: right; padding: 8px;"> <img
							th:src="@{/view/MyWork/images/download.png.png}" width="30px"
							style="float: right;" class="img-responsive"></a>
							
						
					</div>
				</div>



			</div>


		</div>
	</div>
	<!-- PANNELLO FOOTER CON INFO-->
	<footer class="align-items-center">
		<div class="container align-items-center mt-4"
			style="margin-top: 40px">
			<div class="row justify-content-center align-items-center mt-3 pt-4"
				style="margin-top: 15px; padding-top: 15px;">
				<div class="col-sm-4 col-lg-4">
					<a href="https://erretechnology.com/" target="blank"><img
						th:src="@{/view/MyWork/images/errelogowhite.png}" height="80px" alt="erre_logo"
						style="margin: auto"></a>
				</div>
				<div class="col-sm-4 col-lg-4">
					<img th:src="@{/view/MyWork/images/thegate.png}" width="100%"
						style="margin: auto;">
					<p style="color: #F3F3F3; text-align: center; font-size: 20px;">
						Supporto: +39 011 197 429 00</p>
				</div>
				<div class="col-sm-4 col-lg-4 pl-5" style="padding-left: 150px">
					<a class="rounded-circle fa fa-facebook"
						href="https://www.facebook.com/erretechnologygroup/" target= "blank"></a> <a
						class="rounded-circle fa fa-linkedin ml-2"
						href="https://www.linkedin.com/company/erretechnologygroup/"
						style="margin-left: 10px" target= "blank"></a>
				</div>
			</div>
		</div>
	</footer>
		<script>
						function myFunction() {
			var w = window.outerWidth;
			if (w <= 950) {

				document.getElementById("utente-foto-profilo").style.display = "none";
				document.getElementById("scrittaProfilo").style.display = "block";

			} else {
				document.getElementById("utente-foto-profilo").style.display = "block";
				document.getElementById("scrittaProfilo").style.display = "none";
			}
		}
			</script>

</body>
</html>
