<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
<title>MyLife</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Add icon library -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
	rel="stylesheet">

<link rel="stylesheet" content-type="" href="/view/cssGio/style.css">
<style>
.caption {
	font-family: Verdana, sans-serif;
	font-size: 10px;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}

.caption img {
	float: left;
	margin: 0;
	padding: 0;
	background: #fff;
	border: none;
}

.caption h3 {
	float: right;
	margin: 0;
	padding: 10px;
	width: 100%;
	color: #dedede;
	background: #222; /* browser che non supportano rgba */
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	left: 0;
	bottom: 0;
}
</style>

</head>
<body ng-app="">

	<div class="container-fluid">


		<div class="row">


			<div id="myCarousel" class="carousel slide"
				style="background-color: #303030">



				<nav class="navbar navbar-nav navbar-right" id="navcambiante">
					<div class="content" style="display: inline-block">
						<a th:href="@{/homepage/}"><img
							src="/view/MyWork/images/casabianca.png" width="30px"
							style="margin-top: -10px; opacity: 0.9"> </a>
					</div>
					<div class="content" style="display: inline-block">
						<a th:href="@{/myWork/}">MY WORK</a>
					</div>
					<div class="content" style="display: inline-block">
						<a th:href="@{/comunicazioniHr/}">COMUNICAZIONI HR</a>
					</div>
					<div class="content" style="display: inline-block">
						<a th:href="@{/moduli/}">MODULI</a>
					</div>
					<div class="content" style="display: inline-block">
						<a href="http://polyedro.erretechnology.com/www/" target="blank">POLYEDRO</a>
					</div>
					<div style="position: relative; float: right">
						<a th:href="@{/profile/}"><img
							th:src="'data:image/jpeg;base64,' + ${utenteDati.immagine.getImgData(utenteDati.immagine.data)}"
							alt="utente" title="utente" class="immagineUtente"
							id="utente-foto-profilo"
							style="margin: 30px; margin-right: 40px;; border-radius: 50%; margin-top: 0px;"></a>
					</div>
				</nav>


				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li class="item1 active"></li>
					<li class="item2"></li>

				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">

					<div class="top-right"></div>
					<div class="item active">
						<img src="/view/MyLife/images/barc.jpg" alt="Cittï¿½" width="100%">
						<div class="carousel-caption" th:if=${aforisma!=null}>
							<h1 class="font-caption" style="font-weight: 900"
								th:text="${aforisma.frase}"></h1>
							<p th:text="${aforisma.autore}"></p>

						</div>
					</div>

					<div class="item">
						<img src="/view/MyLife/images/mare.png" alt="Lago" width="100%">
						<div class="carousel-caption" th:if=${aforisma2!=null}>
							<h1 class="font-caption" style="font-weight: 900"
								th:text="${aforisma2.frase}"></h1>
							<p th:text="${aforisma.autore}"></p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ************
			FINE HEADER
			***************** -->
	<div class="container"
		th:with="GML = ${#authorization.expression('hasAuthority(''GML'')')}">


		<!-- ****
				COLONNA SINISTRA
				**** -->

		<div class="row" style="margin-top: 5%">
		
		<div class="col-xs-2 col-sm-2 col-lg-2">
		<div class="col-sinistra">
		<div id="copertina"> 
		<img src="/view/MyLife/images/tori.jpg" width="100%" style="border-radius: 6px 6px 0px 0px">
			<img
								th:src="'data:image/jpeg;base64,' + ${utenteDati.immagine.getImgData(utenteDati.immagine.data)}"
								alt="utente" title="utente" class="immagineUtente"
								style="margin: 0 auto; position: absolute; left: 32%; top: 57px;">
	  <br> <br> <br> <br>
	  <h4 Style="color: #303030; display: inline-block; text-align: center; margin-left: 17px;" th:text="${utenteDati.nome}"></h4>
	  <h4 Style="color: #303030; display: inline-block; text-align: center;" th:text="${utenteDati.cognome}"></h4>
	  <br> <p th:text="${utenteDati.settore.getNomeSettore}" style="text-align: center; color: #303030; font-style: italic;"> </p>
	  <div id="prof"> <a th:href="@{/profile/}" id="gestisciProfilo"> Gestisci il tuo profilo</a></div>
		</div>
	
		</div>
		</div>
		
		
			<div class="col-sm-6 col-lg-6"
				th:with="UB = ${#authorization.expression('hasAuthority(''UB'')')},
				DS = ${#authorization.expression('hasAuthority(''DS'')')}">

				<!--  WRITE A POST  -->
				<div class="col-sinistra">
					<div class="row" th:if="${UB}">
						<div class="col-sm-4 col-md-2 col-lg-2">


							<img
								th:src="'data:image/jpeg;base64,' + ${utenteDati.immagine.getImgData(utenteDati.immagine.data)}"
								alt="utente" title="utente" class="immagineUtente"
								style="margin: 20px; margin-left: 17px">
						</div>
						<div class="col-sm-8 col-md-10 col-lg-10">
							<div class="form-group">
								<form th:action="@{/myLife/addPost}"
									enctype="multipart/form-data" id="myForm" method="post">
									<label for="testo"></label>
									<textarea class="form-control" rows="2" cols="30" name="testo"
										required style="width: 98%" placeholder="Scrivi un post..."
										id="post"></textarea>

									<button type="button" data-toggle="modal" style="background-color: #E8E7E7; color: #303030; border: 0px solid #E8E7E7"
										data-target="#myModal">
										Immagine<img src="/view/MyLife/images/img.png"
											style="width: 30px; height: 30px; display: inline-block; margin-left: 5px;">
									</button>

									<!-- Modal -->
									<div class="modal fade" id="myModal" role="dialog">
										<div class="modal-dialog">

											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title" style="color: black">Scegli
														un'immagine da condividere</h4>
												</div>
												<div class="modal-body">
													<input type="file" name="document"
														accept="image/png, image/jpeg" style="color: black;" />
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Close</button>
												</div>
											</div>

										</div>
									</div>






									<br> <br> <input type="submit" value="Condividi"
										id="submitPost"
										style="float: right; margin-right: 10px; margin-bottom: 8px" />

								</form>
							</div>
						</div>
					</div>


					<!-- ****************

						POST PUBBLICATI
						IN BACHECA

						**************** -->

				</div>
				<hr>
				<div class="col-sinistra" style="margin-top: 20px" th:each="post:${messaggi}">
					<div class="container-fluid">
						<div class="row">

							<!-- INFORMAZIONI SU UTENTE E POST -->

							<div  style="margin-top: 30px;">
								<!-- FOTO PROFILO -->
								<div class="row">
								<div class="col-sm-3 col-md-3 col-lg-2">
									<img
										th:src="'data:image/jpeg;base64,' + ${post.autore.immagine.getImgData(post.autore.immagine.data)}"
										title="utente" class="immagineUtente" style="margin: 20px; margin-top: 7px">
										<img th:src="'data:image/png;base64,' + ${utenteDati.settore.getImgData(utenteDati.settore.logoBlack)}" 
									width="80%" style="opacity: 0.8; margin: 20px; margin-top: -7px" id="imgSettore">
								</div>

								
									<div class="col-sm-9 col-md-9 col-lg-9">
									<h4 th:text="${post.autore.nome}"
										style="display: inline-block; color: #303030;font-weight: 600 ">
									</h4>
									
									<h4
										style="display: inline-block;color: #303030; font-weight: 600 ;"
										th:text="${post.autore.cognome}"></h4>
									<!-- ELIMINA POST -->

									<div
										th:if="(${DS} or ${post.autore.id} == ${session.id}) and ${UB}"
										style="display: inline-block; color: #303030;">

										<form th:action="@{/myLife/deletePost(id=${post.id})}"
											method="post">
											<button name="button" type="submit" class="buttonAzioni"
												style="display: inline-block; background-color: #E8E7E7; color: white; margin-left: 250px; border: 0px solid #303030"> <img 
												src="/view/MyLife/images/trash.png" width="45%"></button>
										</form>
									</div>

									<!-- MODIFICA POST -->

									<div th:if="(${post.autore.id} == ${session.id}) and ${UB}"
										style="display: inline-block;">
										<form th:action="@{/myLife/editPost(id=${post.id})}"
											method="post">
											<button name="button" type="submit"
												style="display: inline-block; background-color: #E8E7E7; color: white; margin-left: -10px;border: 0px solid #303030"
												th:onclick="'showAreaPost(' + ${post.id} + ')'"
												class="buttonAzioni">
	<img src="/view/MyLife/images/edit.png" width="45%"></button>

											<textarea th:class="postModificato + ${post.id}" name="testo"
												placeholder="Modifica post" cols="50" rows="2.5" id="post"
												style="display: none" required></textarea>
										</form>
									</div>
									<p
										style="font-size: 12px; font-style: italic; color: #303030; margin-top: -18px; "
										th:text="${#dates.format(post.timestamp*1000, 'dd/MM/yyyy, HH:mm')}"></p> <br>
									
									</div>
									<!--  <img th:src="'data:image/png;base64,' + ${utenteDati.settore.getImgData(utenteDati.settore.logo)}" 
									width="14%" style="opacity: 0.8;">-->
									</div>
									<!-- CONTENUTO DEL POST -->
									<div>
										
										<div style="width: 100%; height: 50px; padding-left: 17px; padding-right: 17px;">
										<p style="margin-right: 15px; font-size: 18px; color: #303030; "
											th:text="${post.testo}">
											<a href="">vedi altro</a>
										</p>
										</div>


										<div th:if="${post.immagine!=null}">
											<img
												th:src="'data:image/jpeg;base64,' + ${utenteDati.immagine.getImgData(post.immagine.data)}"
												width="100%" height="40%">
										</div>


										<!-- ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ COMMENTO ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½-->
										<div class="col-sm-5 col-md-5 col-lg-5"
											style="margin-top: 10px; margin-left: 15px;"
											th:each="commento : ${post.setCommenti}"
											th:if="${commento.visibile}" id="commento">
											<table id="tableCommento">
												<tr>
													<td>
													<img
												th:src="'data:image/jpeg;base64,' + ${commento.autore.immagine.getImgData(commento.autore.immagine.data)}"
												width="16%" style="border-radius: 50%" >
													
														<p class="nomeCommento" th:text="${commento.autore.nome}">
														</p>
														<p class="nomeCommento"
															th:text="${commento.autore.cognome}"></p>
														<p
															style="display: inline-block; font-style: italic; font-size: 10px; color: #303030;"
															th:text="${#dates.format(commento.timestamp*1000, 'dd/MM/yyyy, HH:mm')}">
														</p>
													</td>
													<td
														th:if="(${DS} or ${commento.autore.id} == ${session.id} or ${post.autore.id} == ${session.id}) and ${UB}"><br><br><br>
														<form
															th:action="@{/myLife/deleteCommento(id=${commento.id})}"
															method="post">
															<button name="button" type="submit" id="bottoneElimina"><img src="/view/MyLife/images/trash.png" width="300%"></button>
														</form>
													</td>

													<td
														th:if="${commento.autore.id} == ${session.id} and ${UB}">
														<form
															th:action="@{/myLife/editCommento(id=${commento.id})}"
															method="post">
															<button name="button" type="submit"
																th:onclick="'showAreaCommento(' + ${commento.id} + ')'"
																id="bottoneModifica"><img src="/view/MyLife/images/edit.png" width="100%"></button>
															<textarea th:class="commentoModificato + ${commento.id}"
																name="testo" id="post" placeholder="Modifica commento"
																 rows="2.5" style="display: none" required></textarea>
														</form>
													</td>
												</tr>
												<tr>
													<td>
														<p th:text="${commento.testo}" style="color: #303030; margin-left: 60px;"></p>
													</td>
												</tr>
											</table>
										</div>
										<br>
										<div th:if="${UB}">
											<form th:action="@{/myLife/addCommento(idPost=${post.id})}"
												method="post">
												<label for="testo"></label>
												<textarea id="post" name="testo" rows="2" cols="30"
													style="width: 93%; padding: 8px; margin-left: 15px; color: #303030;"
													placeholder="Lascia un commento..." required></textarea>
												<input type="submit" value="Commenta" id="submitPost"
													style="margin-bottom: 50px; font-size: 13px; " />
											
											</form>
										</div>
									</div>
								
								
							</div>
						</div>
					</div>
				</div>
				<div th:if="${messaggi.totalPages>0}" style="background-color: #303030; margin-top: -10px;" >
				
				<p style="text-align: center"> Pages <span th:text="${pageNumber}" ></span>  <span th:text="${pageNumber}"></span></p>
							<table style="margin: 0 auto; margin-bottom: 20px; background-color: #303030" >	<tr> <td th:each="pageNumber : ${pageNumbers}"><a th:href="@{/myLife/(page=${pageNumber})}"
								
								th:text="${pageNumber}"	th:class="${pageNumber==messaggi.number + 1 } ? active" style="color: #F3F3F3; font-size: 18px; padding: 10px;  ">
								
							</a><br><br>
								 </td></tr></table> </div>
			</div>
			
			
			<!-- ****s
COLONNA DESTRA
**** -->
			<div class="col-sm-4 col-lg-4" id="col-destra" >
					<div th:if="${GML}">
						<a th:href="@{/evento/newLife/}"> <img
							src="/view/MyWork/images/more.png" width="30px"
							style="float: right; margin-bottom: 10px;"></a>
					</div>

					<h2 id="culturaPiemonte" style="margin-top: 30px">Cultura in
						Piemonte</h2>

					<p style="color: #303030; text-align: center; font-size: 15px; margin-bottom: 50px;">
						Se sei un tipo da eventi in città o da sagre:</p>
					<p th:if="${eventilife==null}" style="text-align: center; color: #303030;"> Non ci sono eventi in prossimità </p> 
					<div th:if="${eventilife!=null}">
					<div th:each="eventilife : ${eventilife}" id="evento1life">
						<div class="caption" th:if="${eventilife.copertina!=null}">
							<img
								th:src="'data:image/png;base64,' + ${eventilife.copertina.getImgData(eventilife.copertina.data)}"
								class="img-responsive" width="99%" height="300px"
								style="margin: auto;">
							<h3 th:text="${eventilife.titolo}"></h3>

						</div>

						<img src="/view/MyWork/images/location.jpg" width="9%" height="9%">
						<p th:text="${eventilife.indirizzo.via}"
							style="margin-top: 10px; text-align: left; display: inline-block; ;color: #303030;"></p>
						<p style="display: inline-block; color: #303030;">-</p>

						<p th:text="${eventilife.indirizzo.citta}"
							style="margin-top: 10px; text-align: left; display: inline-block; font-weight: 900; color: #303030;"></p>

						<p th:text="${#dates.format(eventilife.data*1000, 'dd/MM/yyyy')}"
							style="margin-top: 10px; text-align: right;color: #303030;"></p>
					</div>
					<div th:if="${eventilife1!=null}">
						<a href=""> <img src="/view/MyLife/images/frecciaeventi2.png"
							id="frecciaeventi" style="float: right" width="10%">
						</a>
					</div>


					<div id="XX" th:if="${eventilife1!=null}">
						<div th:if="${eventilife1.copertina!=null}">
							<div class="caption" th:each="eventilife1 : ${eventilife1}">
								<img
									th:src="'data:image/png;base64,' + ${eventilife1.copertina.getImgData(eventilife1.copertina.data)}"
									class="img-responsive" width="99%" height="280px"
									style="margin: auto;">
								<h3 th:text="${eventilife1.titolo}"></h3>


							</div>
						</div>

						<img src="/view/MyWork/images/location.jpg" width="9%" height="9%">
						<p th:text="${eventilife1.indirizzo.via}"
							style="margin-top: 10px; text-align: left; display: inline-block;color: #303030;"></p>
						<p style="display: inline-block;">-</p>
						<p th:text="${eventilife1.indirizzo.citta}"
							style="margin-top: 10px; text-align: left; display: inline-block; font-weight: 900;color: #303030;"></p>

						<p th:text="${#dates.format(eventilife1.data*1000, 'dd/MM/yyyy')}"
							style="margin-top: 10px; text-align: right; ;color: #303030;"></p>

						<div>
							<a href=""> <img src="/view/MyLife/images/frecciaeventi.png"
								id="frecciaeventi2" style="float: left" width="10%">
							</a>
						</div>

					</div>

				</div>

					<div th:if="${GML}">
						<a th:href="@{/cinema/new/}"> <img
							src="/view/MyWork/images/more.png" width="30px"
							style="float: right; margin-bottom: 10px;"></a>
					</div>
					<h2 id="culturaPiemonte" style="margin-top: 70px">Film</h2>
					<p style="color: #303030; text-align: center; font-size: 15px; margin-bottom: 50px;">
						Se sei un tipo da cinema o serie TV:</p>
					<p th:if="${film1==null}" style="text-align: center;color: #303030;"> Non ci sono film da consigliare </p> 
						
					<div th:if="${film1!=null}"><img
						th:src="'data:image/png;base64,' + ${film1.copertina.getImgData(film1.copertina.data)}"
						class="img-responsive" width="32%" style="display: inline; ;color: #303030;">
					<img th:if="${film2!=null}"
						th:src="'data:image/png;base64,' + ${film2.copertina.getImgData(film2.copertina.data)}"
						class="img-responsive" width="32%" style="display: inline; ;color: #303030;">
					<img th:if="${film3!=null}"
						th:src="'data:image/png;base64,' + ${film3.copertina.getImgData(film3.copertina.data)}"
						class="img-responsive" width="33%" style="display: inline; ;color: #303030;">

					<div id="didascalieFilm">
						<table id="film">
							<tr>
								<td th:if="${film1!=null}">
									<p th:text="${film1.titolo}" style="color: black;"></p>
								</td>
								<td th:if="${film2!=null}">
									<p th:text="${film2.titolo}" style="color: black;"></p>
								</td>
								<td th:if="${film3!=null}">
									<p th:text="${film3.titolo}" style="color: black;"></p>
								</td>
							</tr>
							<tr style="color: blue;">
								<td th:if="${film1!=null}">
									<p th:text="${film1.categoria.nome}" style="color: blue;">
									</p>
								</td>
								<td th:if="${film2!=null}">
									<p th:text="${film2.categoria.nome}" style="color: blue;">
									</p>
								</td>
								<td th:if="${film3!=null}">
									<p th:text="${film3.categoria.nome}" style="color: blue;">
									</p>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<div th:if="${GML}">
						<a th:href="@{/libro/new}"> <img
							src="/view/MyWork/images/more.png" width="30px"
							style="float: right; margin-bottom: 10px;"></a>
					</div>
					<h2 id="culturaPiemonte" style="margin-top: 70px">Libri</h2>
					<p style="color: #303030; text-align: center; font-size: 15px; margin-bottom: 50px;">
						Se sei un tipo dal classico libro cartaceo o da Kindle:</p>
					<p th:if="${libri==null}" style="text-align: center ;color: #303030;"> Non ci sono libri da consigliare </p> 
					
					<table id="libri" th:if="${libri!=null}">
						<tr>
							<td><img
								th:src="'data:image/png;base64,' + ${libri.copertina.getImgData(libri.copertina.data)}"
								width="135px" style="padding: 5px;"></td>
							<td><p th:text="${libri.titolo}" STYLE="margin-left: 5px; ;color: #303030;"></p>
								<p style="FONT-size: 10px; font-style: italic; text-align: right; ;color: #303030;"
									th:text="${libri.autore}"></p></td>
						</tr>
						<tr>
							<td><img
								th:src="'data:image/png;base64,' + ${libri1.copertina.getImgData(libri1.copertina.data)}"
								width="135px" style="padding: 5px;"></td>
							<td><p th:text="${libri1.titolo}" STYLE="margin-left: 5px; ;color: #303030;">
								</p>
								<p
									style="FONT-size: 10px; font-style: italic; text-align: right ;color: #303030;" 
									th:text="${libri1.autore}"></p></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- PANNELLO FOOTER CON INFO-->
	<footer class="align-items-center">
		<div class="container align-items-center mt-4"
			style="margin-top: 40px">
			<div class="row justify-content-center align-items-center mt-3 pt-4"
				style="margin-top: 15px; padding-top: 15px;">
				<div class="col-sm-4 col-lg-4">
					<a href="https://erretechnology.com/" target="blank"><img
						src="/view/MyWork/images/errelogowhite.png" height="80px"
						alt="erre_logo" style="margin: auto"></a>
				</div>
				<div class="col-sm-4 col-lg-4">
					<img src="/view/MyWork/images/thegate.png" width="100%"
						style="margin: auto;">
					<p style="color: #F3F3F3; text-align: center; font-size: 20px;">
						Supporto: +39 011 197 429 00</p>
				</div>
				<div class="col-sm-4 col-lg-4 pl-5" style="padding-left: 150px">
					<a class="rounded-circle fa fa-facebook"
						href="https://www.facebook.com/erretechnologygroup/"
						target="blank"></a> <a class="rounded-circle fa fa-linkedin ml-2"
						href="https://www.linkedin.com/company/erretechnologygroup/"
						style="margin-left: 10px" target="blank"></a>
				</div>
			</div>
		</div>
	</footer>

	<script>
		$(document).ready(function() {
			// Activate Carousel
			$("#myCarousel").carousel();

			// Enable Carousel Indicators
			$(".item1").click(function() {
				$("#myCarousel").carousel(0);
				//$("#myCarousel").css("background-color", "black");
			});
			$(".item2").click(function() {
				$("#myCarousel").carousel(1);
				//$("#myCarousel").css("background-color", "black");
				//$("#myCarousel").css("color", "black");
			});

			// Enable Carousel Controls
			$(".left").click(function() {
				$("#myCarousel").carousel("prev");
			});
			$(".right").click(function() {
				$("#myCarousel").carousel("next");
			});
			$("#frecciaeventi").click(function() {
				$("#XX").fadeIn("slow");
				$("#frecciaeventi").css("display", "none");
				$("#frecciaeventi2").css("display", "block");
				$("#evento1life").css("display", "none");
			})
			$("#frecciaeventi2").click(function() {
				$("#evento1life").fadeIn();
				$("#XX").css("display", "none");
				$("#frecciaeventi").css("display", "block");

			})

		});

		function showAreaCommento(id) {

			document.getElementsByClassName('commentoModificato' + id)[0].style.display = "block";

		}

		function showAreaPost(id) {
			document.getElementsByClassName('postModificato' + id)[0].style.display = "block";

		}
	</script>

</body>
</html>
