<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
<title>MyLife</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Add icon library -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
	integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
	crossorigin="anonymous"></script>

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css"
	rel="stylesheet" />
<link rel="stylesheet" content-type="" th:href="@{/view/cssGio/style.css}">
<link href='https://fonts.googleapis.com/css?family=Montserrat'
	rel='stylesheet' type='text/css'>
	
<style type="text/css">
.carousel-caption {
	top: 50% !important;
	transform: translateY(-50%);
	text-align: center;
	bottom: initial;
}
</style>
</head>
<body ng-app=""
	th:with="GML = ${#authorization.expression('hasAuthority(''GML'')')}" th:style="'background-image: url(' + @{/view/MyWork/images/carbonio.jpg} +');'">


<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg bg-dark navbar-dark justify-content-end">
	<a class="navbar-brand logo" th:href="@{/homepage/}"><img
			th:src="@{/view/MyWork/images/casabianca.png}" width="30px"
			alt="homeBianca.png" style="opacity: 0.9" class="img-fluid"></a> 
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
    <li class="nav-item mr-3 mt-3"><a class="nav-link"
					th:href="@{/my-work/}">MY WORK</a></li>
				<li class="nav-item mr-3 mt-3"><a class="nav-link"
					th:href="@{/my-work/comunicazioni/}">COMUNICAZIONI HR</a></li>
				<li class="nav-item mr-3 mt-3"><a class="nav-link"
					th:href="@{/my-work/comunicazioni/moduli/}">MODULI</a></li>
				<li class="nav-item mr-3 mt-3"><a class="nav-link"
					href="http://polyedro.erretechnology.com/www/" target="blank">POLYEDRO</a>
				</li>
       
        <li th:if="${utenteDati.setNotifiche != null}"
					class="nav-item avatar dropdown " style="cursor: pointer"><a
					class="nav-link dropdown-toggle waves-effect waves-light"
					id="navbarDropdownMenuLink-5" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="true"> <span
						class="badge badge-danger mr-n4"
						th:text="${utenteDati.setNotifiche.size}"></span> <i
						class="fa fa-bell mr-n4"></i>
				</a>
					<div
							class="dropdown-menu scrollable-menu dropdown-menu-right dropdown-secondary"
						th:if="${utenteDati.setNotifiche.size > 0}"
						aria-labelledby="navbarDropdownMenuLink-5">
						<div class="dropdown-item waves-effect waves-light"
							th:each="i:${#numbers.sequence(utenteDati.setNotifiche.size() - 1, 0, -1)}"
							th:with="notifica=${utenteDati.setNotifiche[i]}">
							<a
								th:href="@{/profilo/elimina-notifica/{id}(id = ${notifica.id})}"><div>
									<p class="font-weight-bold"
										th:text="${notifica.utente.nome} + ' ' + ${notifica.utente.cognome}+ ' ' "
										style="COLOR: BLACK"></p>
									<p class="mt-n3" th:text="${notifica.descrizione}"
										style="COLOR: BLACK"></p>
									<p class="p mt-n2"
										th:utext="${#dates.format(notifica.timestamp*1000, 'dd/MM/yyyy, HH:mm')}"
										style="font-size: 10px; color: black"></p>
								</div></a>
							<hr>
						</div>
					</div></li>
					<li class="nav-item"><a th:href="@{/profilo/}"><img
						th:src="'data:image/jpeg;base64,' + ${utenteDati.immagine.getImgData(utenteDati.immagine.data)}"
						alt="utente" title="utente" class="immagineUtente img-fluid"
						id="utente-foto-profilo" style="border-radius: 50%;"></a></li>
    </ul>
  </div>  
</nav>

<!-- CAROUSEL GRANDE CON FOTO E AFORISMI -->
	<div id="demo" class="carousel slide" data-ride="carousel"
		style="width: 100%">
		<ul class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
			<li data-target="#demo" data-slide-to="1"></li>
			<li data-target="#demo" data-slide-to="2"></li>

		</ul>
		<div class="carousel-inner">
			<div th:if="${aforisma.size>0}" th:each="aforisma1 : ${aforisma}"
				th:class="${aforisma1Stat.index} == 0  ? 'carousel-item active':'carousel-item '">
				<img th:src="@{${aforisma1.immagine}}" th:alt="'myLife' + ${aforisma1Stat.index}" width="100%"
					height="500" class="img-fluid" style="filter: brightness(50%);">
				<div class="carousel-caption">
					<div >
						<p style="font-weight: 900;" class="h1 h1caption"
							th:text="${aforisma1.titolo}"></p>
						<p th:text="${aforisma1.contenuto}" style="font-style: italic;"></p>
						<div th:if="${GML}">

							<button type="submit" name="modifica" data-toggle="modal"
								th:attr="data-target='#myModal' + ${aforisma1.id}"
								style="background-color: white; border: 0px solid #232323; display: inline-block; color: black; font-size: 12px; padding: 8px; width: 150px;">
								Modifica aforisma</button>

						</div>
					</div>
				</div>
				
					<div class="modal" th:id="'myModal' + ${aforisma1.id}">
						<div class="modal-dialog">
							<div class="modal-content">
	
								<!-- Modal Header -->
								<div class="modal-header">
									<h4 class="modal-title" style="color: black;">Modifica
										l'aforisma</h4>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>
	
								<!-- Modal body -->
								<div class="modal-body">
									<form
										th:action="@{/aforisma/update/{id}(id = ${aforisma1.id})}"
										method="post" class="signin-form"
										th:onsubmit="'return validateForm(' + ${aforisma1.id}+ ')'" enctype="multipart/form-data">
										<div th:id="'message-error' + ${aforisma1.id}"
											class="row justify-content-center mt-2"></div>
										<div class="form-group col-12">
											<label for="frase" style="color: black;">Frase</label> <input
												class="form-control" type="text" th:id="'titoloAforisma' + ${aforisma1.id}" name="frase"
												required th:placeholder="${aforisma1.titolo}">
										</div>
	
										<div class="form-group col-12">
											<label for="autore" style="color: black;">Autore</label> <input
												class="form-control" type="text" id="autore" name="autore"
												th:placeholder="${aforisma1.contenuto}"> <br>
											<input type="file" name="immagine" id="img"
												accept="image/png, image/jpeg ,image/jpg"
												style="color: black;">
										</div>
										<div class="form-group col-4" style="float: right">
											<input class="form-control" type="submit" id="pubblicaSubmit"
												value="Salva">
										</div>
									</form>
								</div>
	
								<!-- Modal footer -->
								<div class="modal-footer">
									<button type="button" class="btn btn-danger"
										data-dismiss="modal">Chiudi</button>
								</div>
	
							</div>
						</div>
					</div>
				
			</div>
		
		<a class="carousel-control-prev" href="#demo" data-slide="prev"> <span
			class="carousel-control-prev-icon"></span>
		</a> <a class="carousel-control-next" href="#demo" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>
</div>
<!-- ***************
 		FINE HEADER
      **************
 -->

	<div class="container">
		<br> <br> <br>
		<div class="row mt-5 mb-5">


			<!-- FILM -->
			<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12 mb-1">

				<div style="float: right">
					<a th:href="@{/my-life/film-serie/aggiungi/}" th:if="${GML}"
						style="background-color: white; border: 0px solid #232323; color: black; font-size: 12px; padding: 8px; width: 150px; float: right; padding-left: 25px;">
						Aggiungi nuovo</a>
				</div>
				<h1 style="text-align: center; clear: both;">Film e Serie TV</h1>


				<h5 th:if="${film.size > 0}"style="text-align: center; font-style: italic">Ecco gli
					ultimi titoli selezionati da ERRE:</h5>
				<h5 th:unless="${film.size > 0}"style="text-align: center; font-style: italic">Per il momento 
				non ci sono titoli selezionati da ERRE</h5>

			</div>
	 
			<div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 "
				style="text-align: center" th:if="${film.size>0}"
				th:each="film1 : ${film}">
				<div class="profile-card-2 mt-4">
				<img
						th:src="'data:image/png;base64,' + ${film1.getImgData(film1.foto)}"
						class="img img-responsive" width="100%" height="550px" th:alt="'film' + ${film1Stat.index}">
					<div class="profile-name" th:text="${film1.titolo}"></div>
					<div class="profile-username" th:text="${film1.contenuto}"></div>
				</div>
				<button type="submit" name="modifica" data-toggle="modal"
					th:attr="data-target='#myModal' + ${film1.id}" th:if="${GML}"
					style="background-color: white; border: 0px solid #232323; display: inline-block; color: black; font-size: 12px; padding: 5px; width: 100px;">
					Modifica</button>


				<!-- The Modal FILM-->
				<div class="modal" th:id="'myModal' + ${film1.id}">
					<div class="modal-dialog">
						<div class="modal-content">

							 <!--   Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title" style="color: black;">Modifica film
								</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							 <!-- Modal body -->
							<div class="modal-body">
								<form th:action="@{/my-life/film-serie/update/{id}(id = ${film1.id})}" th:onsubmit="'return validateForm(' + ${film1.id}+ ')'"
									th:object="${cinema}" method="post" enctype="multipart/form-data">
									<div th:id="'message-error' + ${film1.id}" class="row justify-content-center mt-2">
			  	</div>
			  						<div class="form-group col-12">
										<label for="titolo" style="color: black;">Titolo</label> <input
											class="form-control" type="text" th:id="'titoloFilm' + ${film1.id}" name="titolo"
											required th:placeholder="${film1.titolo}" maxlength="50">
									</div>
									<div class="form-group col-12">
										<label for="categoria" style="color: black;">Piattaforma</label>
										<select class="form-control" name="categoria">
											<option th:each="category: ${categorie}"
												th:value="${category.id}"  th:text="${category.nome}"></option>
										</select>
									</div>
								
									<div class="form-group col-12">
										<label for="immagine" style="color: black;">Modifica
											foto <span style="opacity: 0.7; font-size: 10px">(orientamento:
												verticale)</span>
										</label> <input class="form-control-file" type="file" name="immagine"
											accept="image/png, image/jpeg" style="color: black;" />
									</div>
									<div class="form-group col-4">
										<input class="form-control" type="submit" value="Pubblica"
											id="pubblicaSubmit" />
									</div>

								</form>
							</div>

							 <!--  Modal footer --> 
							<div class="modal-footer">
								<button type="button" class="btn btn-danger"
									data-dismiss="modal">Chiudi</button>
							</div>

						</div>
					</div>
				</div>
				<form th:action="@{'/my-life/film-serie/delete/'+${film1.id}}" th:if="${GML}"
					method="get" style="display: inline-block;">
					<button type="submit" name="modifica"
						style="background-color: white; border: 0px solid #232323; display: inline-block; color: black; font-size: 12px; padding: 5px; width: 100px;">
						Elimina</button>
				</form>

			</div>
		</div>
			
		<!-- 
	******
	EVENTI  
	******
	-->
		<div class="row mt-5">
			<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12 mt-5 ">

				<div style="float: right">
					<a th:href="@{/my-life/eventi/aggiungi/}" th:if="${GML}"
						style="background-color: white; border: 0px solid #232323; color: black; font-size: 12px; padding: 8px; width: 150px; float: right; padding-left: 25px;">
						Aggiungi evento</a>
				</div>
				<h1 style="text-align: center; clear: both;">Eventi</h1>

				<h5 th:if="${eventilife.size > 0}"style="text-align: center; font-style: italic">Ecco gli
					ultimi eventi selezionati da ERRE:</h5>
				<h5 th:unless="${eventilife.size > 0}"style="text-align: center; font-style: italic">Per il momento
					non ci sono eventi selezionati da ERRE</h5>

			</div>

			<div class="col-xs-0 col-sm-0 col-lg-3 col-xl-3 "></div>

			<div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 ">

				<div id="demo1" class="carousel slide" data-ride="carousel">

					<ul class="carousel-indicators mt-2">
						<li data-target="#demo1" data-slide-to="0" class="active" th:if="${eventilife.size>0}"></li>
						<li data-target="#demo1" data-slide-to="1"
							th:if="${eventilife.size>1}"></li>
						<li data-target="#demo1" data-slide-to="2"
							th:if="${eventilife.size>2}"></li>
					</ul>


					<div class="carousel-inner" th:if="${eventilife.size>0}"
						style="padding: 50px">

						<div th:each="evento : ${eventilife}"
							th:class="${eventoStat.index} == 0  ? 'carousel-item active':'carousel-item '"
							th:if="${evento.foto!=null}">
							<a th:href="${evento.contenuto}"
								th:if="${evento.contenuto!=null}" target="blank"><img
								th:src="'data:image/png;base64,' + ${evento.getImgData(evento.foto)}"
								style="height: 550px" width="440px" th:alt="'evento' + ${eventoStat.index}"></a> <br>
							<h3 th:text="${evento.titolo}"
								style="text-align: center; font-size: 30px; font-weight: bold;"
								class="mt-3"></h3>
							<p
								th:text="${#dates.format(evento.timestamp*1000, 'dd/MM/yyyy')}"
								style="text-align: center"></p>
							<div style="margin: 0 auto; text-align: center" th:if="${GML}">
								<button type="submit" name="modifica" data-toggle="modal"
									th:attr="data-target='#myModal' + ${evento.id}" th:if="${GML}"
									style="background-color: white; border: 0px solid #232323; display: inline-block; color: black; font-size: 12px; padding: 5px; width: 100px;">
									Modifica</button>

								<!-- The Modal EVENTI -->
								<div class="modal" th:id="'myModal' + ${evento.id}">
									<div class="modal-dialog">
										<div class="modal-content">

											<!-- Modal Header -->
											<div class="modal-header">
												<h4 class="modal-title" style="color: black;">Modifica
													evento</h4>
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>

											<!-- Modal body -->
											<div class="modal-body">
												<form class="signin-form"
													th:action="@{/my-life/eventi/update/{id}(id = ${evento.id})}"
													method="post"
													th:onsubmit="'return validateForm(' + ${evento.id}+ ')'"
													enctype="multipart/form-data">
													<div th:id="'message-error' + ${evento.id}"
														class="row justify-content-center mt-2"></div>
													<div class="form-group col-12">
														<label for="titolo" style="color: black;">Titolo</label> <input
															class="form-control" type="text"
															th:id="'titoloEvento' + ${evento.id}" name="titolo"
															required style="color: black"
															th:placeholder="${evento.titolo}" maxlength="50">
													</div>
													<div class="form-group col-12">
														<label for="luogo" style="color: black;">Luogo</label> <input
															class="form-control" type="text" id="input" name="luogo">
													</div>
													<div class="form-group col-12">
														<label for="date" style="color: black;">Data</label> <input
															class="form-control" type="date" id="date" name="date"
															required th:value="${#dates.format(date, 'yyyy-MM-dd')}"
															style="color: black">
													</div>
													<div class="form-group col-12">
														<label for="link" style="color: black;">Link </label> <input
															class="form-control" type="url" name="link" id="input"
															required>
													</div>
													<div class="form-group col-12">
														<label for="immagine" style="color: black;">Immagine
															dell'evento</label> <input class="form-control-file" type="file"
															name="immagine" accept="image/png, image/jpeg"
															style="color: black;" />
													</div>
													<br>
													<div class="form-group col-4">
														<input class="form-control" type="submit"
															id="pubblicaSubmit" value="Pubblica">
													</div>

												</form>
											</div>

											<!-- Modal footer -->
											<div class="modal-footer">
												<button type="button" class="btn btn-danger"
													data-dismiss="modal">Chiudi</button>
											</div>

										</div>
									</div>
								</div>
								<form th:action="@{'/my-life/eventi/delete/'+${evento.id}}"
									th:if="${GML}" method="get" style="display: inline-block;">
									<button type="submit" name="modifica"
										style="background-color: white; border: 0px solid #232323; display: inline-block; color: black; font-size: 12px; padding: 5px; width: 100px;">
										Elimina</button>
								</form>
							</div>
						</div>

					</div>
					<a class="carousel-control-prev" href="#demo1" data-slide="prev">
						<span class="carousel-control-prev-icon"
						th:if="${eventilife.size>1}"></span>
					</a> <a class="carousel-control-next" href="#demo1" data-slide="next">
						<span class="carousel-control-next-icon"
						th:if="${eventilife.size>1}"></span>
					</a>
				</div>

			</div>

			<div class="col-xs-0 col-sm-0 col-lg-3 col-xl-3 "></div>

		</div>

		<!-- 
		*****
		LIBRI
		*****
		 -->
		<div class="row mt-5">

			<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12 mt-5 ">
				<br>
				<div style="float: right">
					<a th:href="@{/my-life/libri/aggiungi/}" th:if="${GML}"
						style="background-color: white; border: 0px solid #232323; color: black; font-size: 12px; padding: 8px; width: 150px; float: right; padding-left: 25px;">
						Aggiungi libro</a>
				</div>
				<h1 style="text-align: center; clear: both;">Libri</h1>

				<h5 th:if="${libri.size > 0}" style="text-align: center; font-style: italic">Ecco una
					lista di libri selezionata da ERRE:</h5>
				<h5 th:unless="${libri.size > 0}" style="text-align: center; font-style: italic">Per il momento
					non ci sono libri selezionati da ERRE</h5>

			</div>
			<div class="col-xs-6 col-sm-6 col-lg-3 col-xl-3 "
				style="text-align: center" th:if="${libri.size > 0}"
				th:each="libro : ${libri}">
				<div class="profile-card-3 mt-5">
					<img
						th:src="'data:image/png;base64,' + ${libro.getImgData(libro.foto)}"
						class="img img-responsive" width="100%" height="350px" th:alt="'Libro' + ${libroStat.index}">
					<div class="profile-name" th:text="${libro.titolo}"></div>
					<div class="profile-username" th:text="${libro.contenuto}"></div>
				</div>
				
				<button type="submit" name="modifica" data-toggle="modal"
					th:attr="data-target='#myModal' + ${libro.id}" th:if="${GML}"
					style="background-color: white; border: 0px solid #232323; display: inline-block; color: black; font-size: 12px; padding: 5px; width: 100px;">
					Modifica</button>


				<!-- The Modal LIBRI-->
				<div class="modal" th:id="'myModal' + ${libro.id}">
					<div class="modal-dialog">
						<div class="modal-content">

							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title" style="color: black;">Modifica libro
								</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<!-- Modal body -->
							<div class="modal-body">
								<form th:action="@{/my-life/libri/update/{id}(id = ${libro.id})}" th:onsubmit="'return validateForm(' + ${libro.id}+ ')'"
									method="post" enctype="multipart/form-data">
									<div th:id="'message-error' + ${libro.id}" class="row justify-content-center mt-2">
			  	</div>
									<div class="form-group col-12">
										<label for="titolo" style="color: black;">Titolo</label> <input
											class="form-control" type="text" th:id="'titoloLibro' + ${libro.id}" name="titolo"
											required th:placeholder="${libro.titolo}" maxlength="50">
									</div>
									<div class="form-group col-12">
										<label for="scrittore" style="color: black;">Autore</label><br>
										<input class="form-control" type="text" id="scrittore"
											name="scrittore" th:placeholder="${libro.contenuto}">
									</div>
								
									<div class="form-group col-12">
										<label for="immagine" style="color: black;">Immagine
											di copertina</label> <input class="form-control-file" type="file"
											name="immagine" accept="image/png, image/jpeg"
											style="color: black;" />
									</div>
									<div class="form-group col-4">
										<input class="form-control" type="submit" id="pubblicaSubmit"
											value="Pubblica">
									</div>

								</form>
							</div>

							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-danger"
									data-dismiss="modal">Chiudi</button>
							</div>

						</div>
					</div>
				</div>
				<form th:action="@{'/my-life/libri/delete/'+${libro.id}}" th:if="${GML}"
					method="get" style="display: inline-block">
					<button type="submit" name="modifica"
						style="background-color: white; border: 0px solid #232323; display: inline-block; color: black; font-size: 12px; padding: 5px; width: 100px;">
						Elimina</button>
				</form>
		</div>
	</div>

		<!-- VIDEO DEL MESE -->
		<div class="row" th:if="${video!=null}">

			<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12 mt-5"
				style="margin-top: 50px;">
				<br>
				<br>
				<br>
				<br> <a th:href="@{/my-life/aggiungi-video/}" th:if="${GML}"
					style="background-color: white; border: 0px solid #232323; color: black; font-size: 12px; padding: 8px; width: 150px; float: right; padding-left: 25px;">
					Aggiungi video</a>
				<h1 style="text-align: center; clear: both;">Il video del mese</h1>

				<h3 style="text-align: center;" class="mb-5"
					th:text="${video.sottoTitolo}"></h3>
				<iframe width="100%" height="800" th:src="${video.link}"
					title="YouTube video player" style="border: none"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>

			</div>

		</div>
	</div>
	<footer class="align-items-center">
		<div class="container mt-4" style="margin-top: 40px">
			<div class="row justify-content-center align-items-center mt-3 pt-4"
				style="margin-top: 15px; padding-top: 15px;">
				<div class="col-auto ">
					<a href="https://erretechnology.com/" target="blank"> <img
						th:src="@{/view/MyWork/images/errelogowhite.png}" height="80px"
						alt="erre_logo" style="margin: auto"></a>
				</div>
				<div class="col-auto">
					<img th:src="@{/view/MyWork/images/thegate.png}" width="100%"
						style="margin: auto;">
					<p style="color: #F3F3F3; text-align: center; font-size: 20px;">
						Supporto: +39 011 197 429 00</p>
				</div>
				<div class="col-auto">
					<a class="rounded fa fa-facebook"
						href="https://www.facebook.com/erretechnologygroup/"
						target="blank"></a> <a class="rounded fa fa-linkedin ml-3"
						href="https://www.linkedin.com/company/erretechnologygroup/"
						style="margin-left: 10px" target="blank"></a>
				</div>
			</div>
		</div>
	</footer>
<script>
function validateForm(id){
	if(document.getElementById("titoloAforisma" + id) != null && document.getElementById("titoloAforisma" + id).value != "" && 
			document.getElementById("titoloAforisma" + id).value.trim() == ""){
		let p = "<p class='p text-danger'>Il campo frase non puo' contenere solo spazi</p>" + "<br>";
   		 $("#message-error" + id + " > p").remove();
   		 $("#message-error" + id).append(p);
   		 return false;
	}if(document.getElementById("titoloFilm" + id) != null && document.getElementById("titoloFilm" + id).value != "" && 
			document.getElementById("titoloFilm" + id).value.trim() == ""){
		let p = "<p class='p text-danger'>Il campo titolo non puo' contenere solo spazi</p>" + "<br>";
   		 $("#message-error" + id + " > p").remove();
   		 $("#message-error" + id).append(p);
   		 return false;
	}
	if(document.getElementById("titoloEvento" + id) != null && document.getElementById("titoloEvento" + id).value != "" && 
			document.getElementById("titoloEvento" + id).value.trim() == ""){
		let p = "<p class='p text-danger'>Il campo titolo non puo' contenere solo spazi</p>" + "<br>";
   		 $("#message-error" + id + " > p").remove();
   		 $("#message-error" + id).append(p);
   		 return false;
	}
	if(document.getElementById("titoloLibro" + id) != null && document.getElementById("titoloLibro" + id).value != "" && 
			document.getElementById("titoloLibro" + id).value.trim() == ""){
		let p = "<p class='p text-danger'>Il campo titolo non puo' contenere solo spazi</p>" + "<br>";
   		 $("#message-error" + id + " > p").remove();
   		 $("#message-error" + id).append(p);
   		 return false;
	}
	return true;
}
</script>
</body>
</html>