<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
<title>MyWork</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="pagina di mywork dell'intranet di erretechnology">

<!-- Add icon library -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
	rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat'
	rel='stylesheet' type='text/css'>


<link rel="stylesheet" th:href="@{/view/cssGio/style.css}">
<style>
td, th, tr {
	color: white;
}

table, th, td {
	border: 0px solid white;
}

.carousel-caption {
	top: 50% !important;
	transform: translateY(-50%);
	text-align: center;
	bottom: initial;
}

</style>
</head>

<body
	th:with="GMW = ${#authorization.expression('hasAuthority(''GMW'')')}" th:style="'background-image: url(' + @{/view/MyWork/images/carbonio.jpg} +');'">



	
<!-- NAVBAR  -->
	<nav class="navbar navbar-expand-lg bg-dark navbar-dark justify-content-end">
	<a class="navbar-brand logo" th:href="@{/homepage/}"><img
			th:src="@{/view/MyWork/images/casabianca.png}" width="30px"
			alt="homeBianca.png" style="opacity: 0.9" class="img-fluid"></a> 
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
    <li class="nav-item mr-3 mt-3"><a class="nav-link"
					th:href="@{/my-life/}">MY LIFE</a></li>
				<li class="nav-item mr-3 mt-3"><a class="nav-link"
					th:href="@{/my-work/comunicazioni/}">COMUNICAZIONI HR</a></li>
				<li class="nav-item mr-3 mt-3"><a class="nav-link"
					th:href="@{/my-work/comunicazioni/moduli/}">MODULI</a></li>
				<li class="nav-item mr-3 mt-3"><a class="nav-link"
					href="http://polyedro.erretechnology.com/www/" target="blank">POLYEDRO</a>
				</li>
       
        <li th:if="${utenteDati.setNotifiche != null}"
					class="nav-item avatar dropdown " style="cursor: pointer"><a
					class="nav-link dropdown-toggle waves-effect waves-light"
					id="navbarDropdownMenuLink-5" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="true"> <span
						class="badge badge-danger mr-n4"
						th:text="${utenteDati.setNotifiche.size}"></span> <i
						class="fa fa-bell mr-n4"></i>
				</a>
					<div
						class="dropdown-menu scrollable-menu dropdown-menu-right dropdown-secondary"
						th:if="${utenteDati.setNotifiche.size > 0}"
						aria-labelledby="navbarDropdownMenuLink-5">
						<div class="dropdown-item waves-effect waves-light"
							th:each="i:${#numbers.sequence(utenteDati.setNotifiche.size() - 1, 0, -1)}"
							th:with="notifica=${utenteDati.setNotifiche[i]}">
							<a
								th:href="@{/profilo/elimina-notifica/{id}(id = ${notifica.id})}"><div>
									<p class="font-weight-bold"
										th:text="${notifica.utente.nome} + ' ' + ${notifica.utente.cognome}+ ' ' "
										style="COLOR: BLACK"></p>
									<p class="mt-n3" th:text="${notifica.descrizione}"
										style="COLOR: BLACK"></p>
									<p class="p mt-n2"
										th:utext="${#dates.format(notifica.timestamp*1000, 'dd/MM/yyyy, HH:mm')}"
										style="font-size: 10px; color: black"></p>
								</div></a>
							<hr>
						</div>
					</div></li>
					<li class="nav-item"><a th:href="@{/profilo/}"><img
						th:src="'data:image/jpeg;base64,' + ${utenteDati.immagine.data}"
						alt="utente" title="utente" class="immagineUtente img-fluid"
						id="utente-foto-profilo" style="border-radius: 50%;"></a></li>
    </ul>
  </div>  
</nav>
<!-- CAROUSEL GRANDE CON FOTO E AFORISMI -->
	<div id="demo" class="carousel slide" data-ride="carousel"
		style="width: 100%">
		<ul class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
			<li data-target="#demo" data-slide-to="1"></li>
			<li data-target="#demo" data-slide-to="2"></li>

		</ul>
		<div class="carousel-inner">
			<div th:if="${aforisma.size>0}" th:each="aforisma1 : ${aforisma}"
				th:class="${aforisma1Stat.index} == 0  ? 'carousel-item active':'carousel-item '">
				<img th:src="'data:image/png;base64,' + ${aforisma1.foto}"
					th:alt="'myWork' + ${aforisma1Stat.index}" width="100%"
					height="500" class="img-fluid" style="filter: brightness(50%);">
				<div class="carousel-caption">
					<div>
						<p style="font-weight: 900;" class="h1 h1caption"
							th:text="${aforisma1.titolo}"></p>
						<p th:text="${aforisma1.contenuto}" style="font-style: italic;"></p>
						<div th:if="${GMW}">

							<button type="submit" name="modifica" data-toggle="modal"
								th:attr="data-target='#myModal' + ${aforisma1.id}"
								style="background-color: white; border: 0px solid #232323; display: inline-block; color: black; font-size: 12px; padding: 8px; width: 150px;">
								Modifica aforisma</button>

						</div>
					</div>
				</div>

				<div class="modal" th:id="'myModal' + ${aforisma1.id}">
					<div class="modal-dialog">
						<div class="modal-content">

							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title" style="color: black;">Modifica
									l'aforisma</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<!-- Modal body -->
							<div class="modal-body">
								<form th:action="@{/aforisma/update/{id}(id = ${aforisma1.id})}"
									method="post" class="signin-form"
									th:onsubmit="'return validateForm(' + ${aforisma1.id}+ ')'"
									enctype="multipart/form-data">
									<div th:id="'message-error' + ${aforisma1.id}"
										class="row justify-content-center mt-2"></div>
									<div class="form-group col-12">
										<label for="frase" style="color: black;">Frase</label> <input
											class="form-control" type="text"
											th:id="'titoloAforisma' + ${aforisma1.id}" name="frase"
											required th:placeholder="${aforisma1.titolo}">
									</div>

									<div class="form-group col-12">
										<label for="autore" style="color: black;">Autore</label> <input
											class="form-control" type="text" id="autore" name="autore"
											th:placeholder="${aforisma1.contenuto}"> <br> <input
											type="file" name="immagine" id="img"
											accept="image/png, image/jpeg ,image/jpg"
											style="color: black;">
									</div>
									<div class="form-group col-4" style="float: right">
										<input class="form-control" type="submit" id="pubblicaSubmit"
											value="Salva">
									</div>
								</form>
							</div>

							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-danger"
									data-dismiss="modal">Chiudi</button>
							</div>

						</div>
					</div>
				</div>

			</div>

			<a class="carousel-control-prev" href="#demo" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a> <a class="carousel-control-next" href="#demo" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>
	</div>

	<div class="container-fluid">
		<br> <br> <br>


		<!-- ROW MACCHINA  -->



		<div class="row mt-5" id="rowmacchina1"  th:style="'background-image: url(' + @{/view/MyWork/images/makkinina.png} +');'">
			<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
				<br>
				<h1 style="text-align: center" class="mb-3">Le ultime novità</h1>

			</div>
			<!-- NUOVE ASSUNZIONI -->
			<div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4">

				<table class="table table-borderless"
					th:if="${nuoveAssunzioni.size>0}">


					<tr>
						<td
							style="text-align: center; vertical-align: middle;">

							<div id="x123" class="carousel slide" data-ride="carousel">
								
							<div class="carousel-inner">
								<div  th:if="${nuoveAssunzioni.size>0}" th:each="assunto : ${nuoveAssunzioni}" th:class="${assuntoStat.index} == 0  ? 'carousel-item active':'carousel-item '">
									<div class="container">

										<a	th:onclick="nome([[${assunto.id}]], 'nuoviAssunti')" 
											th:id="'nuoviAssunti' + ${assunto.id}" style="cursor:pointer;"><img
												th:src="'data:image/png;base64,' + ${assunto.immagine.data}"
												th:alt="'fotoProfiloUtente' + ${assuntoStat.index}" class="img-fluid" width="250px" style="height: 380px;">
										</a>
									</div>

									<br> <br>
									<p style="font-size: 22px; margin-bottom: -5px">Scopri chi è
										il nuovo arrivato</p>
									<a
											style="cursor:pointer; font-style: italic; font-weight: 900; font-size: 25px; text-decoration: none;"
											th:onclick="nome([[${assunto.id}]], 'nuoviAssuntiImg')" 
											th:id="'nuoviAssuntiImg' + ${assunto.id}"
											th:text="${assunto.nome} + ' ' + ${assunto.cognome}"></a>

									<br>
								</div>

									
							</div>
							<br><br>
							<ul class="carousel-indicators mt-5">
								<li data-target="#x123" data-slide-to="0" class="active"
									th:if="${nuoveAssunzioni.size>1}"></li>
								<li data-target="#x123" data-slide-to="1"
									th:if="${nuoveAssunzioni.size>1}"></li>
								<li data-target="#x123" data-slide-to="2"
									th:if="${nuoveAssunzioni.size>2}"></li> 
							</ul>
							</div>
								
						</td>
					</tr>
					<tr><td style="text-align: center; vertical-align: middle;">
						<a type="button" th:href="@{/my-life/profili-utenti/}"
								style="background-color: transparent; border: 0px solid; font-size: 12px; margin-bottom: 5px;">
							Vedi il profilo degli altri colleghi <img th:src="@{/view/MyWork/images/iconpe.png}" width="10%">
						</a>
					</td></tr>
				</table>
			</div>

			<!-- NUOVI CLIENTI -->
			<div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4">
			
			<a class="bottoniGMW mt-1" th:href="@{/my-work/clienti/aggiungi/}"
											th:if="${GMW}"
											style="background-color: transparent; text-align: center; border: 0px solid #232323; display: inline-block; color: white; font-size: 12px; padding: 5px; width: 100px;">
											<img th:src="@{/view/MyWork/images/more.png}" width="30%" alt="add"> Aggiungi cliente
										</a>
			
				<table class="table table-borderless" th:if="${nuoviClienti.size>0}">

					<tr>
						<td style="text-align: center; vertical-align: middle;">

							<div id="demo3" class="carousel slide" data-ride="carousel">
								<ul class="carousel-indicators">
									<li data-target="#demo3" data-slide-to="0" class="active"
										th:if="${nuoviClienti.size>1}"></li>
									<li data-target="#demo3" data-slide-to="1"
										th:if="${nuoviClienti.size>1}"></li>
									<li data-target="#demo3" data-slide-to="2"
										th:if="${nuoviClienti.size>2}"></li>
								</ul>
								<div class="carousel-inner" th:if="${nuoviClienti.size>0}">
									<div th:each="cliente : ${nuoviClienti}"
										th:class="${clienteStat.index} == 0  ? 'carousel-item active':'carousel-item '">
										<div class="container">
											<img
												th:src="'data:image/png;base64,' + ${cliente.foto}"
												th:alt="'Clienti' + ${clienteStat.index}" width="400px" style="height: 300px;"
												class="img-fluid">
										</div>

										<br> <br>
										<p style="font-size: 22px; margin-bottom: -5px">Una nuova
											partnership con</p>
										<h3 th:text="${cliente.titolo}"
											style="text-align: center; margin: 0 auto; font-weight: 900"></h3>
										<br>



										<button type="submit" name="modifica" class="bottoniGMW"
											th:if="${GMW}" data-toggle="modal" th:attr="data-target='#myModal' + ${cliente.id}"
											style="background-color: white; border: 0px solid #232323; display: inline-block; color: black; font-size: 12px; padding: 5px; width: 100px;">
											Modifica</button>



										<!-- The Modal CLIENTE1-->
										<div class="modal" th:id="'myModal' + ${cliente.id}">
											<div class="modal-dialog">
												<div class="modal-content">

													<!-- Modal Header -->
													<div class="modal-header">
														<h4 class="modal-title" style="color: black;">
															Modifica cliente</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>

													<!-- Modal body -->
													<div class="modal-body">
														<form
															th:action="@{/my-work/clienti/update/{id}(id = ${cliente.id})}"
															th:object="${cliente}" method="post" th:onsubmit="'return validateForm(' + ${cliente.id}+ ')'"
															enctype="multipart/form-data">
															<div th:id="'message-error' + ${cliente.id}" class="row justify-content-center mt-2"></div>
															<div class="form-group col-12">
																<label for="nome" style="color: black;">Nome:</label> <input
																	class="form-control" type="text" th:id="'nomeCliente' + ${cliente.id}" name="nome"
																	required style="color: black" th:placeholder="${cliente.titolo}" maxlength="50">
															</div>
															<div class="form-group col-12">
																<label for="dataInizio" style="color: black;">Data
																	inizio:</label> <input class="form-control" type="month"
																	id="dataInizio" name="dataInizio" required
																	th:value="${#dates.format(date, 'yyyy-MM')}"
																	style="color: black">
															</div>
															<div class="form-group col-12" style="color: black;">
																<label for="immagine" style="color: black;">Modifica
																	foto</label> <input class="form-control-file" type="file"
																	name="immagine" accept="image/png, image/jpeg"
																	style="color: black;" />
															</div>
															<div class="form-group col-4">
																<input class="form-control" id="pubblicaSubmit"
																	type="submit" value="Pubblica">
															</div>
														</form>
													</div>

													<!-- Modal footer -->
													<div class="modal-footer">
														<button type="button" class="btn btn-danger"
															data-dismiss="modal">Chiudi</button>
													</div>

												</div>
											</div>
										</div>



										
										<form th:action="@{'/my-work/clienti/delete/'+${cliente.id}}" 
											th:if="${GMW}" method="get" style="display: inline-block;">
											<button type="submit" name="modifica" class="bottoniGMW mt-1"
												style="background-color: white; border: 0px solid #232323; display: inline-block; color: black; font-size: 12px; padding: 5px; width: 100px;">
												Elimina</button>
										</form>


									</div>
									</div>
								<br> <br>
							</div>
							
						</td>
					</tr>
				</table>
			</div>

			<!-- NEWS  -->
			<div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4">
			<a class="bottoniGMW mt-1" th:href="@{/my-work/news/aggiungi/}"
											th:if="${GMW}"
											style="background-color: transparent; text-align: center; border: 0px solid #232323; display: inline-block; color: white; font-size: 12px; padding: 5px; width: 100px;">
											<img th:src="@{/view/MyWork/images/more.png}" width="30%" alt="add"> Aggiungi news
										</a>
				<table class="table table-borderless"
					style="vertical-align: middle;" th:if="${newsSlide.size>0}">

					<tr>
						<td style="text-align: center; vertical-align: middle;">

							<div id="demo1" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner" th:if="${newsSlide.size>0}">
									<div th:each="news : ${newsSlide}"
										 th:class="${newsStat.index} == 0  ? 'carousel-item active':'carousel-item '">
										<div class="container">
											<img
												th:src="'data:image/png;base64,' + ${news.foto}"
												th:alt="'News' + ${newsStat.index}" width="400px" style="height: 350px;"
												class="img-fluid">
										</div>
										<br>
										<h3 th:text="${news.titolo}"
											style="text-align: center; margin: 0 auto"></h3>
										<br>
										<button type="submit" name="modifica" class="bottoniGMW"
											th:if="${GMW}" data-toggle="modal" th:attr="data-target='#myModal' + ${news.id}"
											style="background-color: white; border: 0px solid #232323; display: inline-block; color: black; font-size: 12px; padding: 5px; width: 100px;">
											Modifica</button>

										<!-- The Modal NEWS-->
										<div class="modal" th:id="'myModal' + ${news.id}" style="color: black">
											<div class="modal-dialog">
												<div class="modal-content">

													<!-- Modal Header -->
													<div class="modal-header">
														<h4 class="modal-title" style="color: black;">
															Modifica news</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>

													<!-- Modal body -->
													<div class="modal-body">
														<form
															th:action="@{/my-work/news/update/{id}(id = ${news.id})}"
															th:object="${news}" method="post" th:onsubmit="'return validateForm(' + ${news.id}+ ')'"
															enctype="multipart/form-data">
															<div th:id="'message-error' + ${news.id}" class="row justify-content-center mt-2"></div>
															<div class="form-group col-12">
																<label for="titolo" style="color: black;">Titolo</label>
																<input class="form-control" type="text" th:id="'titoloNews' + ${news.id}"
																	name="titolo" required th:placeholder="${news.titolo}" maxlength="50">
															</div>

															<div class="form-group col-12">
																<label for="contenuto" style="color: black;">Contenuto</label>
																<input class="form-control" type="text" id="contenuto"
																	name="contenuto" th:placeholder="${news.contenuto}">
															</div>

															<div class="form-group col-12">
																<label for="immagine" style="color: black;">Immagine</label>
																<input class="form-control-file" type="file"
																	name="immagine" accept="image/png, image/jpeg"
																	style="color: black;" />
															</div>

															<div class="form-group col-4">
																<input class="form-control" type="submit"
																	id="pubblicaSubmit" value="Pubblica">
															</div>

														</form>
													</div>

													<!-- Modal footer -->
													<div class="modal-footer">
														<button type="button" class="btn btn-danger"
															data-dismiss="modal">Chiudi</button>
													</div>

												</div>
											</div>
										</div>


										
										<form th:action="@{'/my-work/news/delete/'+${news.id}}"
											th:if="${GMW}" method="get" style="display: inline-block;">
											<button type="submit" name="modifica" class="bottoniGMW mt-1"
												style="background-color: white; border: 0px solid #232323; display: inline-block; color: black; font-size: 12px; padding: 5px; width: 100px;">
												Elimina</button>
										</form>


									</div>
								</div>
								<br><br>
								<ul class="carousel-indicators mt-2" style="margin-top: 9px;">
									<li data-target="#demo1" data-slide-to="0" class="active"
										th:if="${newsSlide.size>1}"></li>
									<li data-target="#demo1" data-slide-to="1"
										th:if="${newsSlide.size>1}"></li>
									<li data-target="#demo1" data-slide-to="2"
										th:if="${newsSlide.size>2}"></li>
								</ul> 
							</div>
						</td>
					</tr>



				</table>
			</div>
		</div>


		<!-- °°°°°°°°°°°°°°°°°

ROW SCHIZZO

°°°°°°°°°°°°°°°°°-->
		<br> <br> <br> <br>
		<div class="row mt-5 mb-5" id="rowmacchina2" th:style="'background-image: url(' + @{/view/MyWork/images/schizzo.png} +');'"> 
			<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
				<br>
				<h1 style="text-align: center" class="mb-3">Il mondo dentro e
					fuori</h1>

			</div>

			<!-- I PODCAST DI ROSARIO -->
			<div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4">
				<table class="table table-borderless">
					<tr>
						<td style="text-align: center; vertical-align: middle;"><div
								class="container">
								<img th:src="@{/view/MyWork/images/RADICEr.png}" alt="rosarioRad"
									style="margin-bottom: -17px; height: 380px" class="img-fluid">
							</div></td>
					</tr>
					<tr>
						<td style="text-align: center; vertical-align: middle;"><p
								style="font-size: 22px;">
								I podcast di <span
									style="font-style: italic; font-weight: 900; font-size: 25px; margin-bottom: -5PX;">
									Rosario </span>
							</p>
							<button type="button" th:if="${podcast.size > 0}" data-toggle="modal" data-target="#myModal"
								style="background-color: transparent; border: 0px solid; font-size: 12px">
								Ascolta gli ultimi podcast<img
									th:src="@{/view/MyWork/images/record.png}" alt="podcast icona"
									width="12%">
							</button>

							<br>
							<a th:href="@{/my-work/podcast/}" th:if="${GMW}"
									style="background-color: transparent; text-align: center; border: 0px solid #232323; display: inline-block; color: white; font-size: 12px; padding: 5px; width: 100px;">
											<img th:src="@{/view/MyWork/images/more.png}" width="30%"> Aggiungi podcast </a>
							</td>
					</tr>
				</table>


				<!-- The Modal PODCAST-->
				<div class="modal" id="myModal" style="color: #303030">
					<div class="modal-dialog">
						<div class="modal-content">

							<!-- Modal Header -->
							<div class="modal-header" style="background-color: #303030">
								<h4 class="modal-title" style="font-size: 22px; color: #f3f3f3">
									I podcast di <span
										style="font-style: italic; font-weight: 900; font-size: 25px; margin-bottom: -5PX;">
										Rosario </span>

								</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<!-- Modal body -->
							<div class="modal-body" th:each="podcast : ${podcast}"
								th:if="${podcast!=null}" style="background-color: #A7B0BD;">
								<p th:text="${podcast.nome}" style="color: #303030"></p>
								<audio controls style="margin-top: 10px;" preload="metadata">
									<source
										th:src="'data:audio/mp3;base64,' + ${podcast.podcast}"
										type="audio/ogg">
								</audio>
								<form th:action="@{'/my-work/podcast/delete/'+${podcast.id}}"
									th:if="${GMW}" method="get">
									<button type="submit" name="modifica"
										style="color: black; background-color: white; font-size: 12px; padding: 8px; text-decoration: none; width: 128px; border: 0px">
										Elimina</button>
								</form>
							</div>

							<!-- Modal footer -->
							<div class="modal-footer" style="background-color: #303030">
								
								<button type="button" class="btn btn-primary"
									data-dismiss="modal">Close</button>
							</div>

						</div>
					</div>
				</div>
			</div>

			<!-- EVENTI MYWORK -->
			<div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4">
			<a class="bottoniGMW mt-1" th:href="@{/my-work/eventi/aggiungi/}"
											th:if="${GMW}"
											style="background-color: transparent; text-align: center; border: 0px solid #232323; display: inline-block; color: white; font-size: 12px; padding: 5px; width: 100px;">
											<img th:src="@{/view/MyWork/images/more.png}" width="30%" alt="add"> Aggiungi evento
										</a>
				<table class="table table-borderless" th:if="${eventi.size > 0}">
					<tr>
						<td style="text-align: center; vertical-align: middle;"
							th:if="${eventi!=null}">

							<div id="demo2" class="carousel slide" data-ride="carousel">
								<ul class="carousel-indicators" th:if="${eventi.size > 0}">
									<li data-target="#demo2" data-slide-to="0" class="active"
										th:if="${eventi.size > 1}"></li>
									<li data-target="#demo2" data-slide-to="1"
										th:if="${eventi.size > 1}"></li>
									<li data-target="#demo2" data-slide-to="2"
										th:if="${eventi.size > 2}"></li>
								</ul>
								<div class="carousel-inner" th:if="${eventi.size > 0}">
									<div th:each="evento : ${eventi}"
										 th:class="${eventoStat.index} == 0  ? 'carousel-item active':'carousel-item '">
										<div class="container">
											<img
												th:src="'data:image/png;base64,' + ${evento.foto}"
												th:alt="'evento' + ${eventoStat.index}" width="400px" style="height: 350px;"
												class="img-fluid" >
										</div>
										<br>
										<p style="font-size: 22px; margin-bottom: -5PX"
											th:text="${#dates.format(evento.timestamp*1000, 'dd/MM/yyyy')}"></p>

										<h3 th:text="${evento.titolo}"
											style="text-align: center; margin: 0 auto"></h3>
										<br>


										<button type="submit" name="modifica" class="bottoniGMW"
											th:if="${GMW}" data-toggle="modal" th:attr="data-target='#myModal' + ${evento.id}"
											style="background-color: white; border: 0px solid #232323; display: inline-block; color: black; font-size: 12px; padding: 5px; width: 100px;">
											Modifica</button>


										<!-- The Modal EVENTI-->
										<div class="modal" th:id="'myModal' + ${evento.id}" style="color: black">
											<div class="modal-dialog">
												<div class="modal-content">

													<!-- Modal Header -->
													<div class="modal-header">
														<h4 class="modal-title" style="color: black;">
															Modifica evento</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>

													<!-- Modal body -->
													<div class="modal-body">
														<form class="signin-form"
															  th:action="@{/my-work/eventi/update/{id}(id = ${evento.id})}"
															  method="post"
															  th:onsubmit="'return validateForm(' + ${evento.id}+ ')'"
															  enctype="multipart/form-data">
															<div th:id="'message-error' + ${evento.id}" class="row justify-content-center mt-2"></div>
															<div class="form-group col-12">
																<label for="titolo" style="color: black;">Titolo</label>
																<input class="form-control" type="text" th:id="'titoloEvento' + ${evento.id}"
																	name="titolo" required style="color: black" th:placeholder="${evento.titolo}" maxlength="50">
															</div>
															<div class="form-group col-12">
																<label for="contenuto" style="color: black;">Contenuto</label>
																<input class="form-control" type="text" id="contenuto"
																	name="contenuto" style="color: black" th:placeholder="${evento.contenuto}">
															</div>
															<div class="form-group col-12">
																<label for="luogo" style="color: black;">Luogo</label> <input
																	class="form-control" type="text" id="input"
																	name="luogo">
															</div>
															<div class="form-group col-12">
																<label for="date" style="color: black;">Data</label> <input
																	class="form-control" type="date" id="date" name="date"
																	required
																	th:value="${#dates.format(date, 'yyyy-MM-dd')}"
																	style="color: black">
															</div>
															<div class="form-group col-12" style="color: black;">
																<label for="immagine" style="color: black;">Immagine
																	dell'evento</label> <input class="form-control-file"
																	type="file" name="immagine"
																	accept="image/png, image/jpeg" style="color: black;" />
															</div>
															<br>
															<div class="form-group col-4">
																<input class="form-control" type="submit"
																	id="pubblicaSubmit" value="Pubblica">
															</div>

														</form>
													</div>

													<!-- Modal footer -->
													<div class="modal-footer">
														<button type="button" class="btn btn-danger"
															data-dismiss="modal">Chiudi</button>
													</div>

												</div>
											</div>
										</div>

										
										<form th:action="@{'/my-work/eventi/delete/'+${evento.id}}"
											th:if="${GMW}" method="get" style="display: inline-block;">
											<button type="submit" name="modifica" class="bottoniGMW mt-1"
												style="background-color: white; border: 0px solid #232323; display: inline-block; color: black; font-size: 12px; padding: 5px; width: 100px;">
												Elimina</button>
										</form>


									</div>
									
									
								</div>
								<br> <br>
							</div>

						</td>
					</tr>
				</table>
			</div>

			<!-- COMPLEANNO -->
			<div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4">
				<table class="table table-borderless"
					th:if="${utente.size>0}">
					<tr>
						<td style="text-align: center; vertical-align: middle;"
							>

							<div id="demo55" class="carousel slide" data-ride="carousel">
								<br><br><ul class="carousel-indicators ">
									<li data-target="#demo55" data-slide-to="0" class="active"
										th:if="${utente.size>1}"></li>
									<li data-target="#demo55" data-slide-to="1"
										th:if="${utente.size>1}"></li>
									<li data-target="#demo55" data-slide-to="2"
										th:if="${utente.size>2}"></li>
								</ul>
								<div class="carousel-inner">
									<div class="carousel-item active" th:if="${utente.size>0}">
										<div class="container">
											<img
													th:src="'data:image/png;base64,' + ${utente[0].immagine.data}"
													alt="utenteCompleanno" width="400px" style="height: 300px;"
													class="img-fluid">
										</div>

										<br> <br>
										<p
												style="font-size: 22px; margin-bottom: -5PX">
											Hai già fatto gli auguri a <br> <a
												th:onclick="nome([[${utente[0].id}]], 'compleanno')" 
												th:id="'compleanno' + ${utente[0].id}"
												style="cursor:pointer; font-style: italic; font-weight: 900; font-size: 25px; margin-bottom: -5PX; text-decoration: none;"
												th:text="${utente[0].nome} + ' ' + ${utente[0].cognome}"> </a> ?
										</p>


										<br> <br>
									</div>
									<div class="carousel-item " th:if="${utente.size>1}">
										<div class="container">
											<img
													th:src="'data:image/png;base64,' + ${utente[1].immagine.data}"
													alt="utenteCompleanno" width="400px" style="height: 300px;"
													class="img-fluid">
										</div>

										<br> <br>
										<p
												style="font-size: 22px; margin-bottom: -5PX">
											Hai già fatto gli auguri a <br> <a
												th:onclick="nome([[${utente[1].id}]], 'compleanno')" 
												th:id="'compleanno' + ${utente[1].id}"
												style="cursor:pointer; font-style: italic; font-weight: 900; font-size: 25px; margin-bottom: -5PX; text-decoration: none;"
												th:text="${utente[1].nome} + ' ' + ${utente[1].cognome}"> </a> ?
										</p>


										<br> <br>
									</div>
									<div class="carousel-item " th:if="${utente.size>2}">
										<div class="container">
											<img
													th:src="'data:image/png;base64,' + ${utente[2].immagine.data}"
													alt="utenteCompleanno" width="400px" style="height: 300px;"
													class="img-fluid">
										</div>

										<br> <br>
										<p
												style="font-size: 22px; margin-bottom: -5PX">
											Hai già fatto gli auguri a <br> <a
												th:onclick="nome([[${utente[2].id}]], 'compleanno')" 
												th:id="'compleanno' + ${utente[2].id}"
												style="cursor:pointer; font-style: italic; font-weight: 900; font-size: 25px; margin-bottom: -5PX; text-decoration: none;"
												th:text="${utente[2].nome} + ' ' + ${utente[2].cognome}"> </a> ?
										</p>


										<br><br>
									</div>
								</div>
							</div>



						</td>
					</tr>
				</table>
			</div>
		</div>



		<!-- VIDEO DEL MESE -->

		<div class="row" th:if="${video!=null}">
			<div class="col-xs-0 col-sm-0 col-lg-2 col-xl-2 mt-5"></div>
			<div class="col-xs-12 col-sm-12 col-lg-8 col-xl-8 mt-5"
				style="margin-top: 50px; display: inline-block">
				<a th:href="@{/my-work/aggiungi-video/}" th:if="${GMW}"
					style="background-color: white; border: 0px solid #232323; color: black; font-size: 12px; padding: 8px; width: 150px; float: right; padding-left: 25px;">
					Aggiungi video</a>
				<h1 style="text-align: center; clear: both;">Il video del mese</h1>

				<h3 style="text-align: center;" class="mb-5"
					th:text="${video.sottoTitolo}"></h3>
				<iframe width="100%" height="800" th:src="${video.link}"
					title="YouTube video player" style="border: none"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>

			</div>
			<div class="col-xs-0 col-sm-0 col-lg-2 col-xl-2 mt-5"></div>
		</div>



	</div>
	<!-- CHIUSURA CONTAINER -->







	<br>
	<br>

	<!-- PANNELLO FOOTER CON INFO-->
	<footer class="align-items-center">
		<div class="container mt-4" style="margin-top: 40px">
			<div class="row justify-content-center align-items-center mt-3 pt-4"
				style="margin-top: 15px; padding-top: 15px;">
				<div class="col-auto ">
					<a href="https://erretechnology.com/" target="blank"> <img
						th:src="@{/view/MyWork/images/errelogowhite.png}" height="80px"
						alt="erre_logo" style="margin: auto"></a>
				</div>
				<div class="col-auto">
					<img th:src="@{/view/MyWork/images/thegate.png}" width="100%"
						style="margin: auto;" alt="theGate">
					<p style="color: #F3F3F3; text-align: center; font-size: 20px;">
						Supporto: +39 011 197 429 00</p>
				</div>
				<div class="col-auto">
					<a class="rounded fa fa-facebook"
						href="https://www.facebook.com/erretechnologygroup/"
						target="blank"></a> <a class="rounded fa fa-linkedin ml-3"
						href="https://www.linkedin.com/company/erretechnologygroup/"
						style="margin-left: 10px" target="blank"></a>
				</div>
			</div>
		</div>
	</footer>
<script>
function validateForm(id){
	if(document.getElementById("titoloAforisma" + id) != null && document.getElementById("titoloAforisma" + id).value != "" && 
			document.getElementById("titoloAforisma" + id).value.trim() == ""){
		let p = "<p class='p text-danger'>Il campo frase non puo' contenere solo spazi</p>" + "<br>";
   		 $("#message-error" + id + " > p").remove();
   		 $("#message-error" + id).append(p);
   		 return false;
	}
	else if(document.getElementById("nomeCliente" + id) != null && document.getElementById("nomeCliente" + id).value != "" && 
			document.getElementById("nomeCliente" + id).value.trim() == ""){
		let p = "<p class='p text-danger'>Il campo nome non puo' contenere solo spazi</p>" + "<br>";
   		 $("#message-error" + id + " > p").remove();
   		 $("#message-error" + id).append(p);
   		 return false;
	}
	else if(document.getElementById("titoloNews" + id) != null && document.getElementById("titoloNews" + id).value != "" && 
			document.getElementById("titoloNews" + id).value.trim() == ""){
		let p = "<p class='p text-danger'>Il campo titolo non puo' contenere solo spazi</p>" + "<br>";
   		 $("#message-error" + id + " > p").remove();
   		 $("#message-error" + id).append(p);
   		 return false;
	}
	else if(document.getElementById("titoloEvento" + id) != null && document.getElementById("titoloEvento" + id).value != "" && 
			document.getElementById("titoloEvento" + id).value.trim() == ""){
		let p = "<p class='p text-danger'>Il campo titolo non puo' contenere solo spazi</p>" + "<br>";
   		 $("#message-error" + id + " > p").remove();
   		 $("#message-error" + id).append(p);
   		 return false;
	}
	else
		return true;
}

function nome(id, type){
	var path = "[[@{/profilo/visualizza/?id=}]]";
	document.getElementById(type + id).href += path + btoa(id);
	console.log(document.getElementById(id).href);
}
</script>
</body>
</html>
