<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
<title>MyWork</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Add icon library -->


<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">

<link href='https://fonts.googleapis.com/css?family=Montserrat'
	rel='stylesheet' type='text/css'>


<link rel="stylesheet" href="/view/cssGio/style.css">
<style>
td, th, tr {
	color: white;
}

table, th, td {
	border: 0px solid white;
}
</style>
</head>

<body onload="data()"
	th:with="GMW = ${#authorization.expression('hasAuthority(''GMW'')')}">

	<div class="container-fluid">


		<div class="row">


			<div id="myCarousel" class="carousel slide"
				style="background-color: #303030">



				<nav class="navbar navbar-nav navbar-right " id="navcambiante">
					<div class="content" style="display: inline-block">
						<a th:href="@{/homepage/}"><img
							src="/view/MyWork/images/casabianca.png" width="30px"
							alt="homeBianca.png" style="margin-top: -10px; opacity: 0.9">
						</a>
					</div>
					<div class="content" style="display: inline-block">
						<a th:href="@{/myLife/}">MY LIFE</a>
					</div>
					<div class="content" style="display: inline-block">
						<a th:href="@{/comunicazioniHr/}">COMUNICAZIONI HR</a>
					</div>
					<div class="content" style="display: inline-block">
						<a th:href="@{/moduli/}">MODULI</a>
					</div>
					<div class="content" style="display: inline-block">
						<a href="http://polyedro.erretechnology.com/www/" target="blank">POLYEDRO</a>
					</div>
					<div style="position: relative; float: right">
						<a th:href="@{/profile/}"><img
							th:src="'data:image/jpeg;base64,' + ${utenteDati.immagine.getImgData(utenteDati.immagine.data)}"
							alt="utente" title="utente" class="immagineUtente"
							id="utente-foto-profilo"
							style="margin: 30px; margin-right: 40px;; border-radius: 50%; margin-top: 0px; float: right"></a>
					</div>
				</nav>

				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li class="item1 active" th:if="${newsSlide!=null}"></li>
					<li class="item2" th:if="${newsSlide2!=null}"></li>

				</ol>
				<div class="carousel-inner" role="listbox">

					<div class="top-right"></div>
					<div class="item active">
						<img src="/view/MyWork/images/ferrari1.png" alt="Cittï¿½" tag="cit" width="100%">
						<div class="carousel-caption" th:if=${aforisma!=null}>
							<h1 class="font-caption" style="font-weight: 900; text-shadow: 3px 1px 6px rgba(0, 0, 0, 1);"
								th:text="${aforisma.frase}"></h1>
							<p th:text="${aforisma.autore}" style="font-style:italic"></p>
							<div th:if="${GMW}">
								<form th:action="@{'/aforisma/update/'+${aforisma.id}}"
									method="get">
									<button type="submit" name="modifica"
										style="background-color: transparent; border: 0px solid #232323; display: inline-block">
										<img src="/view/MyWork/images/edit.png" width="38%">
									</button>
								</form>
								<a th:href="@{/aforisma/new/}" style="display: inline-block">
									<img src="/view/MyWork/images/more.png" width="30px"
									style="margin-bottom: 10px; display: inline-block">
								</a>
							</div>
						</div>
						<div class="carousel-caption" th:if="${aforisma==null and GMW}">
							<a th:href="@{/aforisma/new/}"
								style="display: inline-block; color: #f3f3f3; text-decoration: none;">
								Aggiungi aforisma <img src="/view/MyWork/images/more.png"
								width="30px" style="margin-bottom: 10px; display: inline-block">
							</a>
						</div>
					</div>

					<div class="item">
						<img src="/view/MyWork/images/scarpe.png" alt="Lago" width="100%">
						<div class="carousel-caption" th:if=${aforisma2!=null}>
							<h1 class="font-caption" style="font-weight: 900; text-shadow: 3px 1px 1px rgba(0, 0, 0, 1);"
								th:text="${aforisma2.frase}"></h1>
							<p th:text="${aforisma2.autore}" style="font-style:italic"></p>
							<div th:if="${GMW}">
								<form th:action="@{'/aforisma/update/'+${aforisma2.id}}"
									method="get">
									<button type="submit" name="modifica"
										style="background-color: transparent; border: 0px solid #232323;">
										<img src="/view/MyWork/images/edit.png" width="38%">
									</button>
								</form>
								<a th:href="@{/aforisma/new/}"> <img
									src="/view/MyWork/images/more.png" width="30px"
									style="margin-bottom: 10px;"></a>
							</div>

						</div>
						<div class="carousel-caption" th:if="${aforisma2==null and GMW}">
							<a th:href="@{/aforisma/new/}"
								style="display: inline-block; color: #f3f3f3; text-decoration: none;">
								Aggiungi aforisma <img src="/view/MyWork/images/more.png"
								width="30px" style="margin-bottom: 10px; display: inline-block">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ************
				FINE HEADER
				***************** -->
	<div class="container"
		th:with="admin = ${#authorization.expression('hasAuthority(''WNMW'')')}">
		<div class="row" style="margin-top: 30px;">
		<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2" style="margin-top: 80px;"></div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="margin-top: 80px;">


				<div class="assunti">
					<div class="modal-header2">
						<div class="title">
							<h2 style="color: black; text-align: center; font-weight: 900; margin-bottom: 15px;">Nuove
								assunzioni</h2>
								
							<p style="color: black; text-align: center; font-size: 13px; opacity: 0.5"> Ecco i nuovi arrivati nel team di ERRE </p>
							<hr style="border: 1px solid #c9c9c9; opacity: 0.3">
							<br>	
						</div>

					</div>
					<div class="modal-body">


						<table id="tableAssunti" th:if="${nuoviAssunti!=null}">
							<th:block>
								<tr>
									<td th:each="nuovoUtente: ${nuoviAssunti}"><a
										th:href="@{/profile/viewProfile/(id=${nuovoUtente.id})}"><img
											th:src="'data:image/png;base64,' + ${nuovoUtente.immagine.getImgData(nuovoUtente.immagine.data)}"
											alt="fotoProfiloUtente" class="img-fluid" width="140px"
											height="140px" style="border-radius: 50%;"></a></td>
								</tr>
							</th:block>
							<th:block>
								<tr>
									<td th:each="nuovoUtente: ${nuoviAssunti}"> <br><a
										th:href="@{/profile/viewProfile/(id=${nuovoUtente.id})}"
										th:text="${nuovoUtente.nome} + ' ' + ${nuovoUtente.cognome}"
										style="color: #303030; font-size: 15px; font-weight: 700; font-size: 19px;"></a></td>


								</tr>
								<tr style="text-align: left">

								</tr>
							</th:block>
						</table>
						<div th:if="${nuoviAssunti.size>2}" style="margin: 0 auto; text-align: center;">
							<br><br><a href="" id="vedi" onclick="mostraAssunzioni()"
								style="text-decoration: none; color: black; font-size: 13px; text-align: center">
								<br>Vedi altri <img
								src="/view/MyWork/images/freccianerasotto.png" width="30px"
								id="frecciasotto" style="margin-left: 0px;">
							</a>
						</div>
						<div class="modal-body" th:if="${nuoviAssunti2!= null}">
						<table id="tableAssunti2">
							<th:block>
								<tr>
									<td th:each="nuovoUtente: ${nuoviAssunti2}"><a
										th:href="@{/profile/viewProfile/(id=${nuovoUtente.id})}"><img
											th:src="'data:image/png;base64,' + ${nuovoUtente.immagine.getImgData(nuovoUtente.immagine.data)}"
											alt="fotoProfiloUtente" class="img-fluid" width="140px"
											height="140px" ></a></td>
								</tr>
							</th:block>
							<th:block>
								<tr>
									<td th:each="nuovoUtente: ${nuoviAssunti2}"> <br><a
										th:href="@{/profile/viewProfile/(id=${nuovoUtente.id})}"
										th:text="${nuovoUtente.nome} + ' ' + ${nuovoUtente.cognome}"
										style="color: #303030; font-size: 15px; font-weight: 700; font-size: 19px;"></a></td>


								</tr>
							</th:block>
						</table>
</div>
					</div>
				</div>

			</div>
			<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2" style="margin-top: 50px;"></div>
		</div>

		<div class="row">
		<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2" style="margin-top: 80px;"></div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="margin-top: 80px;">
				<div class="assunti">

					<div class="modal-header2">

						<div class="title2">
							<div th:if="${GMW}">
								
								<a th:href="@{/cliente/new/}"> <img
									src="/view/MyWork/images/moreb.png" width=7%
									style="float: right">
								</a>
							</div>

							<h2 style="color: black; text-align: center; font-weight: 900; margin-bottom: 15px;">Nuovi
								clienti</h2>
								
							<p style="color: black; text-align: center; font-size: 13px; opacity: 0.5"> Ecco i nuovi partner del team ERRE </p>
							<hr style="border: 1px solid #c9c9c9; opacity: 0.3">
							<br>
						</div>

					</div>
					<p style="text-align: center;" th:if="${nuoviClienti==null}">
						<br> Non ci sono nuovi clienti al momento
					</p>
					<table class="nuoviClienti" style="margin-top: 15px;"
						th:if="${nuoviClienti!=null}">
						<th:block>
							<tr>
								<td th:each="cliente: ${nuoviClienti}">

									<div th:if="${cliente.logo!=null}">
										<img
											th:src="'data:image/png;base64,' + ${cliente.logo.getImgData(cliente.logo.data)}"
											class="img-fluid" width="150px" height="140px">
									</div>
								</td>
							</tr>
						</th:block>
						<th:block>
							<tr>
								<td th:each="cliente: ${nuoviClienti}">
									<p th:text="${cliente.nome}" style="margin-top: 18px; color: black; font-size: 19px; font-weight: 700"></p>
								</td>
							</tr>
							<tr>
								<td th:each="cliente: ${nuoviClienti}"><p
										th:text="${#dates.format(cliente.dataInizio, 'MMMM yyyy')}" style="margin-top: 4px; color: black">
									</p> <br>
									<form th:action="@{'/cliente/update/'+${cliente.id}}"
										th:if="${GMW}" method="get">
										<button type="submit" name="modifica"
											style="background-color: transparent; border: 0px solid #232323; float: right;">
											<img src="/view/MyWork/images/editb.png" style="float: right"
												width="38%">
										</button>
									</form>
									<form th:action="@{'/cliente/delete/'+${cliente.id}}"
										th:if="${GMW}" method="get">
										<button type="submit" name="modifica"
											style="background-color: transparent; border: 0px solid #232323; float: right;">
											<img src="/view/MyLife/images/trash.png" style="float: right"
												width="38%">
										</button>
									</form></td>

							</tr>
						</th:block>
					</table>


				</div>
			</div>
			<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2" style="margin-top: 50px;"></div>
		</div>
<div class="row">
		<!--  °°°°°°SONDAGGI°°°°°° -->
		<div class="col-sm-0 col-md-0 col-lg-2" style="margin-top: 80px;"></div>
		
		<div class="col-sm-12 col-md-8 col-lg-8" style="margin-top: 80px;">
			<div class="assunti" style="padding: 15px;">
				<div class="modal-header2">
					<div th:if="${GMW}">

						<a th:href="@{/myWork/addSondaggio/}"> <img
							src="/view/MyWork/images/moreb.png" width=7% style="float: right">
						</a>
					</div>
					<div class="title2">


	<h2 style="color: black; text-align: center; font-weight: 900; margin-bottom: 15px;"> Sondaggi</h2>
								
							<p style="color: black; text-align: center; font-size: 13px; opacity: 0.5"> Ecco gli ultimi questionari da compilare </p>
							<hr style="border: 1px solid #c9c9c9; opacity: 0.3">
							<br>
					</div>

				</div>
				<p style="text-align: center;" th:if="${sondaggi==null}">
					<br> Al momento non ci sono sondaggi
				</p>
				<div>

					<table class="nuoviClienti"  >

						<th:block>

							<tr >
								<td style="text-align: center;" th:each="sondaggio: ${sondaggi}"><a
									th:href="@{${sondaggio.link}}" target="blank"><img
										src="/view/MyWork/images/surveymonkey.png" width="70px;"
										style="position: static; margin: 15px;"> </a></td>
</tr>
<tr>
								<td style="text-align: center;" th:each="sondaggio: ${sondaggi}"><a
									th:href="@{${sondaggio.link}}" target="blank"
									th:text="${sondaggio.nomeSondaggio}"
									style="color: black; text-decoration: none; font-size: 17px;"></a>
									<form
										th:action="@{'/myWork/modificaSondaggio/'+${sondaggio.id}}"
										th:if="${GMW}" method="get">
										<br>
										<button type="submit" name="modifica"
											style="background-color: transparent; border: 0px solid #232323; float: right; color: grey">
											<img src="/view/MyWork/images/editb.png" style="float: right"
												width="28%">
										</button>
									</form>
									<form
										th:action="@{'/myWork/deleteSondaggio/' +${sondaggio.id}}"
										th:if="${GMW}" method="post">
										
										<button type="submit" name="modifica"
											style="background-color: transparent; border: 0px solid #232323; float: right; color: grey">
											<img src="/view/MyLife/images/trash.png" style="float: right"
												width="28%">
										</button>
									</form></td>
							</tr>
						</th:block>
					</table>
				</div>
				<div th:if="${sondaggi2!=null}" style="margin: 0 auto; text-align: center;">
					<br><a href="" id="mostraSondaggi" onclick="mostraSondaggi()"
						style="text-decoration: none; color: black; font-size: 13px;">
						<br>Vedi altri <img
						src="/view/MyWork/images/freccianerasotto.png" width="30px"
						id="frecciasotto" style="margin-left: 5px;"><br><br>
					</a>
				</div>

				<div id="tablesondaggi2">
					<table class="nuoviClienti"  >

						<th:block>

							<tr >
								<td style="text-align: center;" th:each="sondaggio1: ${sondaggi2}"><a
									th:href="@{${sondaggio1.link}}" target="blank"><img
										src="/view/MyWork/images/surveymonkey.png" width="70px;"
										style="position: static; margin: 15px;"> </a></td>
							</tr>
							<tr>
								<td style="text-align: center;" th:each="sondaggio1: ${sondaggi2}"><a
									th:href="@{${sondaggio1.link}}" target="blank"
									th:text="${sondaggio1.nomeSondaggio}"
									style="color: black; text-decoration: none; font-size: 17px;"></a>
									<form
										th:action="@{'/myWork/modificaSondaggio/'+${sondaggio1.id}}"
										th:if="${GMW}" method="get">
										<br>
										<button type="submit" name="modifica"
											style="background-color: transparent; border: 0px solid #232323; float: right; color: grey">
											<img src="/view/MyWork/images/editb.png" style="float: right"
												width="28%">
										</button>
									</form>
									<form
										th:action="@{'/myWork/deleteSondaggio/' +${sondaggio1.id}}"
										th:if="${GMW}" method="post">
										
										<button type="submit" name="modifica"
											style="background-color: transparent; border: 0px solid #232323; float: right; color: grey">
											<img src="/view/MyLife/images/trash.png" style="float: right"
												width="28%">
										</button>
									</form></td>
							</tr>
						</th:block>
					</table>
				</div>
			</div>
		</div>
		<!-- °°°°°COMUNICAZIONI HR°°°°° -->
		
			<div class="col-sm-0 col-md-0 col-lg-2" style="margin-top: 80px;"></div>
	
	<!-- °°°°°°°°°°° NUOVI CLIENTI °°°°°°°°°°-->
</DIV>
	<div class="row" style="margin-top: 80px;">
<div class="col-xs-0 col-sm-0 col-md-2 bcol-lg-2"></div>
<div class="col-xs-6 col-sm-6 col-md-4 bcol-lg-4"
			style="margin-top: 20px;">
			<div id="quadrato-podcast">
				<div th:if="${GMW}">
					<a th:href="@{/podcast/}"> <img
						src="/view/MyWork/images/more.png" width="30px"
						style="float: right; margin-bottom: 10px; margin-left: 1px"></a>
				</div>

				<h2
					style="line-height: 45px; display: inline-block; font-weight: 900;">
					I podcast di <span style="color: #FFC931"><br>Rosario</span>
				</h2>
				<img src="/view/MyWork/images/radice.jpg" class="img-fluid"
					width="40%" height="100px" style="float: right" id="imgRosario">
				<div th:if="${primoPodcast!=null}">


					<br>
					<p th:text="${primoPodcast.nome}" style="font-weight: 700;"></p>
					<p
						th:text="${#dates.format(primoPodcast.dataPodcast *1000, 'dd/MM/yyyy')}"
						style="font-style: italic; font-size: 10px"></p>
					<audio controls style="margin-top: 10px" preload="metadata">
						<source
							th:src="'data:audio/mp3;base64,' + ${primoPodcast.getAudioData(primoPodcast.podcast)}"
							type="audio/ogg">
					</audio>
					<br>
					<form
						th:action="@{'/podcast/podcastFormUpdate/'+${primoPodcast.id}}"
						th:if="${GMW}" method="get">
						<button type="submit" name="modifica"
							style="background-color: transparent; border: 0px solid #232323;">
							<img src="/view/MyWork/images/edit.png" style="float: left"
								width="38%">
						</button>
					</form>
					<form th:action="@{'/podcast/deletePodcast/'+${primoPodcast.id}}"
						th:if="${GMW}" method="get">
						<button type="submit" name="modifica"
							style="background-color: transparent; border: 0px solid #232323;">
							<img src="/view/MyWork/images/trash.png" style="float: left"
								width="38%">
						</button>
					</form>
					<div th:if="${altriPodcast.size!=0}" style="margin: 0 auto; text-align: center;">
						<a href="" id="podcast" onclick="mostraPodcast()"
							style="text-decoration: none; color: #f3f3f3; font-size: 13px;" th:if="${altriPodcast!=null}">
							<br>Vedi altri <img
							src="/view/MyWork/images/frecciasotto.png" width="30px"
							id="frecciasotto" style="margin-left: 5px;">
						</a>
					</div>
				</div>
				<div id="altriPodcast">
					<div th:each="altriPodcast : ${altriPodcast}">
						<br>


						<p th:text="${altriPodcast.nome}"></p>
						<p
							th:text="${#dates.format(altriPodcast.dataPodcast *1000, 'dd/MM/yyyy')}"
							style="font-style: italic; font-size: 10px;"></p>
						<audio controls style="margin-top: 10px">
							<source
								th:src="'data:audio/mp3;base64,' + ${altriPodcast.getAudioData(altriPodcast.podcast)}"
								type="audio/ogg">
						</audio>
						<br> <br>
						<form
							th:action="@{'/podcast/podcastFormUpdate/'+${altriPodcast.id}}"
							th:if="${GMW}" method="get">
							<button type="submit" name="modifica"
								style="background-color: transparent; border: 0px solid #232323;">
								<img src="/view/MyWork/images/edit.png" style="float: left"
									width="38%">
							</button>
						</form>
					</div>
					<a href="" onclick="menoPodcast()"
						style="text-decoration: none; color: #f3f3f3; font-size: 13px; display: none">
						<br>Vedi meno <img src="/view/MyWork/images/frecciasopra.png"
						width="30px" id="frecciasotto" style="margin-left: 5px;">
					</a>
				</div>



			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4"
			style="margin-top: 20px;">
			<div 
				id="quadrato-compleanno">
				<h4 id="data" style="DISPLAY: INLINE-BLOCK; margin-top: 20px;"></h4>
				
				<h2
					style="line-height: 45px; display: inline-block; font-weight: 900;" th:if="${utente!=null AND !utente.isEmpty}">Oggi
					è il compleanno di:</h2>
				<h2 style="line-height: 45px; display: inline-block; font-weight: 900; margin: 5px;" th:if="${utente==null OR utente.isEmpty}">Oggi nessuno compie gli anni :-(</h2>
					
				<div>
					<div th:each="utente: ${utente}">
						<a th:href="@{/profile/viewProfile/(id=${utente.id})}"><img
							th:src="'data:image/png;base64,' + ${utente.immagine.getImgData(utente.immagine.data)}"
							alt="fotoProfiloUtente" title="Foto profilo dell'utente"
							width="28%" height="28%" style="margin-top: 10px;"></a> <a
							th:href="@{/profile/viewProfile/(id=${utente.id})}"
							th:text="${utente.nome} + ' ' + ${utente.cognome}"
							style="color: #303030; font-size: 15px;"></a>

					</div>


				</div>
			</div>
		</div>

		<div class="col-xs-0 col-sm-0 col-md-2 bcol-lg-2"></div>
		
	</div>
	<!-- °°°°°°
					EVENTI
					°°°°°° -->
	<div class="row" style="margin-top: 70px;">
		<br><div th:if="${GMW}">
			<a th:href="@{/eventowork/new/}"> <img
				src="/view/MyWork/images/more.png" width="30px"
				style="float: right; margin-bottom: 10px;"></a>
		</div>
		<h1
			style="text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.98); color: blue; text-align: center; font-weight: 900; font-size: 60px;">
			Eventi</h1>
		<h3 style="text-align: center; margin-bottom: 50px;">Scopri gli
			eventi a cui parteciperà l'azienda</h3>
		<p th:if="${eventi==null}"
			style="text-align: center; margin-bottom: 50px;">Nessun evento in
			prossimità</p>
		<div th:if="${eventi!=null}">
			<div class="col-sm-12 col-md-6 col-lg-6" th:each="eventi:${eventi}">
				<div class="evento" style="margin: auto">


					<div id="evento-immagine" th:if="${eventi.copertina!=null}">
						<img
							th:src="'data:image/png;base64,' + ${eventi.copertina.getImgData(eventi.copertina.data)}"
							width="100%" height="330px">
					</div>
					<div id="evento-title">
					<p
							style="color: black;   padding: 8px; margin-bottom: -25px; "
							th:text="${#dates.format(eventi.data*1000, 'dd/MM/yyyy')}"></p>
						<h4
							style="color: black; padding: 8px; font-weight: 900;"
							th:text="${eventi.titolo}"></h4>
						<form th:action="@{'/eventowork/update/'+${eventi.id}}" th:if="${GMW}"
							method="get">
							<button type="submit" name="modifica"
								style="background-color: #f3f3f3; border: 0px solid #232323; float: right;">
								<img src="/view/MyWork/images/editb.png" style="float: right"
									width="38%">
							</button>
						</form>

						<form th:action="@{'/eventowork/delete/'+${eventi.id}}" th:if="${GMW}"
							method="get">
							<button type="submit" name="modifica"
								style="background-color: #f3f3f3; border: 0px solid #232323; float: right;">
								<img src="/view/MyLife/images/trash.png" style="float: right"
									width="38%">
							</button>
						</form>
					</div>
					<div id="eventoBody">						

						<img src="/view/MyWork/images/location.jpg" alt="location.jpg"
							width="9%" height="9%" >
						<p style="color: #D13A3A; text-align: left; display: inline-block;"
							th:text="${eventi.luogo}"></p><p  style="color: #D13A3A; text-align: left; display: inline-block;"></p>

					</div>
				</div>

			</div>
			<div th:if="${eventi2!=null}">
				<a href=""
					style="float: right; text-decoration: none; color: #F3F3F3; opacity: 0.8;"
					onclick="mostraEventi()" id="altriEventi"> Vedi altri <img
					src="/view/MyWork/images/frecciasotto.png" alt="frecciasotto.png"
					width="30px" style="MARGIN-right: 50px;"></a>
			</div>

			<div id="eventoWork2" th:if="${eventi2!=null}">
				<div class="col-sm-12 col-md-6 col-lg-6"
					th:each="eventi2:${eventi2}">

					<div class="evento" style="margin: auto">
						<div id="evento-immagine" th:if="${eventi2.copertina!=null}">
							<img
								th:src="'data:image/png;base64,' + ${eventi2.copertina.getImgData(eventi2.copertina.data)}"
								width="100%" height="330px">
						</div>
						<div id="evento-title">
							<h4
								style="color: black; padding: 8px; font-weight: 900;"
								th:text="${eventi2.titolo}"></h4>
							<form th:action="@{'/eventowork/update/'+${eventi2.id}}"
								th:if="${GMW}" method="get">
								<button type="submit" name="modifica"
									style="background-color: #f3f3f3; border: 0px solid #232323; float: right;">
									<img src="/view/MyWork/images/editb.png" style="float: right"
										width="38%">
								</button>
							</form>
							<form th:action="@{'/eventowork/delete/'+${eventi2.id}}"
								th:if="${GMW}" method="get">
								<button type="submit" name="modifica"
									style="background-color: #f3f3f3; border: 0px solid #232323; float: right;">
									<img src="/view/MyLife/images/trash.png" style="float: right"
										width="38%">
								</button>
							</form>
						</div>
						<div id="eventoBody">
							<p
								style="color: black; margin-right: 8px; text-align: right; font-weight: 900;"
								th:text="${#dates.format(eventi2.data*1000, 'dd/MM/yyyy')}">

							</p>

							<img src="/view/MyWork/images/location.jpg" width="9%"
								height="9%">
							<p
								style="color: black; text-align: right; display: inline-block;"
								th:text="${eventi2.luogo}">,</p>



						</div>
					</div>

				</div>
			</div>

		</div>

	</div>


	<!-- °°°°°
						NEWS
						°°°°° -->

	<div class="row">
		<br><br><div th:if="${GMW}">
			<a th:href="@{/news/new/}"> <img
				src="/view/MyWork/images/more.png" width="30px"
				style="float: right; margin-bottom: 10px;"></a>
		</div>

		<h1
			style="text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.98); color: blue; text-align: center; font-weight: 900; font-size: 60px;">
			News</h1>
		<h3 style="text-align: center; margin-bottom: 50px;">Non perderti
			nessuna novità dell'azienda</h3>
		<p th:if="${news==null}"
			style="text-align: center; margin-bottom: 50px; font-size: 16px;">Nessuna
			news recente</p>
		<div class="col-sm-12 col-md-10 col-lg-11" >


			<div
				style="margin-left: 70px; background-color: #232323; box-shadow: -1px 9px 8px 3px rgba(0, 0, 0, 0.76);"
				th:if="${news!=null}">

				<div style="padding: 10px;">
					<h4 style="opacity: 0.8">In evidenza</h4>
					<hr style="opacity: 0.2">
				</div>
				<div class="row" style="padding: 10px;" th:if="${news!=null}"
					th:each="news:${news}">


					<div class="col-sm-8 col-md-8 col-lg-8">
						<h3 style="font-weight: 900" th:text="${news.titolo}"></h3>
						<form th:action="@{'/news/update/'+${news.id}}" th:if="${GMW}"
							method="get">
							<button type="submit" name="modifica"
								style="background-color: #232323; border: 0px solid #232323; float: right;">
								<img src="/view/MyWork/images/edit.png" style="float: right"
									width="38%">
							</button>
						</form>
						<form th:action="@{'/news/delete/'+${news.id}}" th:if="${GMW}"
							method="get">
							<button type="submit" name="modifica"
								style="background-color: #232323; border: 0px solid #232323; float: right;">
								<img src="/view/MyWork/images/trash.png" style="float: right"
									width="38%">
							</button>
						</form>
						<!--  <p style="line-height: 30px; margin-top: 20px; font-size: 15px"
							th:text="${news.contenuto}"></p>  -->

						<p style="text-align: right; margin-top: 30px;"
							th:text="${#dates.format(news.dataPubblicazione*1000, 'dd/MM/yyyy, HH:mm')}">
						</p>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4">
						<img
							th:src="'data:image/png;base64,' + ${news.copertina.getImgData(news.copertina.data)}"
							width="95%" height="160PX" style="float: right; top: 29px;">

					</div>



				</div>

				<div th:if="${news2!=null}">
					<a href="" id="mostraNews"
						style="text-align: center; text-decoration: none; color: #F3F3F3; opacity: 0.8; margin-left: 420px;"
						onclick="mostraNews()"> Vedi altri <img
						src="/view/MyWork/images/frecciasotto.png" alt="frecciasotto.png"
						width="30px" id="frecciasotto"></a>
				</div>
				<div id="news2" style="display: none" th:if="${news2!=null}">
					<div th:each="news2:${news2}">
						<div class="row" style="padding: 10px;">
							<div class="col-sm-8 col-md-8 col-lg-8">
								<h3 style="font-weight: 900" th:text="${news2.titolo}"></h3>
								<form th:action="@{'/news/update/'+${news2.id}}" th:if="${GMW}"
									method="get">
									<button type="submit" name="modifica"
										style="background-color: #232323; border: 0px solid #232323; float: right;">
										<img src="/view/MyWork/images/edit.png" style="float: right"
											width="38%">
									</button>
								</form>
								<form th:action="@{'/news/delete/'+${news2.id}}" th:if="${GMW}"
									method="get">
									<button type="submit" name="modifica"
										style="background-color: #232323; border: 0px solid #232323; float: right;">
										<img src="/view/MyWork/images/trash.png" style="float: right"
											width="38%">
									</button>
								</form>

								<p style="text-align: right; margin-top: 30px;"
									th:text="${#dates.format(news2.dataPubblicazione*1000, 'dd/MM/yyyy, HH:mm')}">
								</p>
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4">
								<img
									th:src="'data:image/png;base64,' + ${news2.copertina.getImgData(news2.copertina.data)}"
									width="95%" height="160PX" style="float: right; top: 29px;">
							</div>
						</div>



					</div>
				</div>
			</div>

		</div>
	</div>




	<!-- °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° -->


	</div>


	<!-- °°°°°°°°°°° NUOVE ASSUNZIONI °°°°°°°°°°-->




	<!-- PANNELLO FOOTER CON INFO-->
	<footer class="align-items-center">
		<div class="container align-items-center mt-4"
			style="margin-top: 40px">
			<div class="row justify-content-center align-items-center mt-3 pt-4"
				style="margin-top: 15px; padding-top: 15px;">
				<div class="col-sm-4 col-lg-4">
					<a href="https://erretechnology.com/" target="blank"><img
						src="/view/MyWork/images/errelogowhite.png" height="80px"
						alt="erre_logo" style="margin: auto"></a>
				</div>
				<div class="col-sm-4 col-lg-4" style="margin: auto;">
					<img src="/view/MyWork/images/thegate.png" width="100%"
						style="margin: auto;">
					<p style="color: #F3F3F3; text-align: center; font-size: 20px;">
						Supporto: +39 011 197 429 00</p>
				</div>
				<div class="col-sm-4 col-lg-4 pl-5" style="padding-left: 150px">
					<a class="rounded-circle fa fa-facebook"
						href="https://www.facebook.com/erretechnologygroup/"
						target="blank"></a> <a class="rounded-circle fa fa-linkedin ml-2"
						href="https://www.linkedin.com/company/erretechnologygroup/"
						style="margin-left: 10px" target="blank"></a>
				</div>
			</div>
		</div>
	</footer>

	<script>
		$(document).ready(function() {
			// Activate Carousel
			$("#myCarousel").carousel();

			// Enable Carousel Indicators
			$(".item1").click(function() {
				$("#myCarousel").carousel(0);
			});
			$(".item2").click(function() {
				$("#myCarousel").carousel(1);
			});
			// Enable Carousel Controls
			$(".left").click(function() {
				$("#myCarousel").carousel("prev");
			});
			$(".right").click(function() {
				$("#myCarousel").carousel("next");
			});

		});

		function mostraAssunzioni() {
			document.getElementById("tableAssunti2").style.display = "inline-table";
			document.getElementById("vedi").style.display = "none";

		}
		function mostraNews() {
			document.getElementById("news2").style.display = "block";
			document.getElementById("mostraNews").style.display = "none";

		}

		function mostraSondaggi() {
			document.getElementById("tablesondaggi2").style.display = "block";
			document.getElementById("mostraSondaggi").style.display = "none";

		}
		function mostraEventi() {
			document.getElementById("eventoWork2").style.display = "block";
			document.getElementById("altriEventi").style.display = "none";

		}
		function mostraPodcast() {
			document.getElementById("altriPodcast").style.display = "block";
			document.getElementById("podcast").style.display = "none";
		}
		function menoPodcast() {
			document.getElementById("altriPodcast").style.display = "none";
			document.getElementbyId("podcast").style.display = "block";
		}
		function data() {
			var d = new Date();
			var giorno = d.getDate()

			var month = new Array();
			month[0] = "Gennaio";
			month[1] = "Febbraio";
			month[2] = "Marzo";
			month[3] = "Aprile";
			month[4] = "Maggio";
			month[5] = "Giugno";
			month[6] = "Luglio";
			month[7] = "Agosto";
			month[8] = "Settembre";
			month[9] = "Ottobre";
			month[10] = "Novembre";
			month[11] = "Dicembre";
			var mese = month[d.getMonth()];
			document.getElementById("data").innerHTML = giorno + " " + mese;
		}
	</script>
</body>
</html>
