<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
Ecco chi fa gli anni oggi:
<table>
   <th:block th:each="utente: ${utente}">
      <tr>
         <td th:text="${utente.nome}"></td>
         <td th:text="${utente.cognome}"></td>
      </tr>
   </th:block>
</table>

<br><br><br>
Salutiamo i nuovi colleghi, tranne quelli antipatici
<table>
   <th:block th:each="nuovoUtente: ${nuoviAssunti}">
      <tr>
         <td th:text="${nuovoUtente.nome}"></td>
         <td th:text="${nuovoUtente.cognome}"></td>
		  <td><img th:src="@{/image/fotoProfilo/{image}(image = ${nuovoUtente.immagine})}">      </td>
		</tr>
   </th:block>
</table>

Nuovi clienti:
<table>
   <th:block th:each="cliente: ${nuoviClienti}">
      <tr>
         <td th:text="${cliente.nome}"></td>
         <td th:text="${#dates.format(cliente.dataInizio, 'MMMM yyyy')}"></td>
		  <td><img th:src="@{/image/cliente/{image}(image = ${cliente.logo})}">      </td>
		</tr>
   </th:block>
</table>

</body>
</html>