<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Aggiungi clienti</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" content-type="" href="/view/cssGio/style.css">

<style>
body{
	background-image: url("/view/MyWork/images/background.png");
	  background-repeat: no-repeat, repeat;
	    background-attachment: fixed;
	  
	
}
#input {
	background-color: #E2E2E2;
	border-radius: 0px 0px 0px 0px;
	border: 0px solid #E2E2E2;
	
}

</style>

</head>

<body >

<div class="container">
<div class="row">
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="colForm">

<h4 style="text-align: left; margin-bottom:5px;"> Inserisci una nuova news:
</h4 ><hr style="margin-bottom:50px; background-color: #F3F3F3; ">
	<form th:action="@{/news/insert}" th:object="${news}"
		method="post" enctype="multipart/form-data"  class="signin-form">

		<div class="form-group">
			<label for="titolo">Titolo: </label> <input type="text" name="titolo"
				class="form-control"  id="input" th:field="*{titolo}">
		</div>

		<div class="form-group">
			<label for="contenuto">Contenuto:</label>
			 <textarea name="contenuto" class="form-control" id="input" th:field="*{contenuto}"></textarea>
		</div>


			<div class="form-group">
			<label for="immagine">Immagine:</label> <input type="file"
				class="form-control-file"
					accept="image/png, image/jpeg" name="immagine" id="immagine">
		</div>
		<input type="submit" id="pubblicaSubmit" value="Pubblica">
	</form>
</div>
</div>
</div>
</body>
</html>
