<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
<meta charset="ISO-8859-1">
<title>Permission manager</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<script>
function sendAjaxRequest() {
    var email = $("#email").val();
    $.get( "http://localhost:8080/profile/getPermessiMancanti?email=" + email, function( data ) {
        $.each(data, function(key, value) {
            let option = "<option value = " + key + ">" + value +  "</option>";
            $("#permessiMancanti").append(option);
        });
    });

    $.get( "http://localhost:8080/profile/getAllPermessi?email=" + email, function( data ) {
        $.each(data, function(key, value) {
            let option = "<option value = " + key + ">" + value +  "</option>";
            $("#TuttiPermessi").append(option);
        });
    });

};

$(document).ready(function() {
    $("#email").change(function() {
        sendAjaxRequest();
    });
});
</script>
<body>

	<div>
		<p>Seleziona un utente</p>
		<form th:action="@{/profile/addPermesso(email = ${email} , flag = ${flag})}" method="post">
			<select id="email" th:value="${email}" th:name="email">
				<option value="0">Seleziona un utente per modificare i permessi</option>
				<option th:each="utente : ${utenti}" th:value="${utente}" th:text="${utente}"></option>
			</select>

			<p>Aggiungi un permesso</p>
			<select id="permessiMancanti" th:name="pAdd">
				<option value="0">seleziona un permesso da aggiungere</option>
			</select>
			<button type="submit" th:name="flag" th:value="1">Invia</button>
			<p>Rimuovi un permesso</p>
			<select id="TuttiPermessi" th:name="pRemove">
				<option value="0">Seleziona un permesso da rimuovere</option>
			</select>
			<button type="submit" th:name="flag" value="0">Invia</button>
		</form>

	</div>
</body>
</html>
