<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Aggiungi podcast</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" content-type="" th:href="@{/view/cssGio/style.css}">

	<style>
	body {
		background-repeat: no-repeat, repeat;
		background-attachment: fixed;
	}

	#input {
		background-color: #E2E2E2;
		border-radius: 0px 0px 0px 0px;
		border: 0px solid #E2E2E2;
	}
</style>

</head>

<body th:style="'background-image:url(' + @{/view/MyWork/images/background.png} + ');'">

	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="colForm">

				<h4 style="text-align: center; margin-bottom: 5px;">
					Inserisci un nuovo file podcast</h4>
					<hr style="background-color: #F3F3F3;">

					<p style="text-align: right; margin-bottom: 30px;display: inline-block;">
						<a th:href="@{/myWork/}" style="color: #F3F3F3;"><img th:src="@{/view/MyWork/images/frecciasinistra.png}" style="margin-left: -15px; margin-right: 8px;display: inline-block;" width="25%">Torna indietro
						</a>
					</p>
					<div th:if="${errore != null}" class="row justify-content-center mt-2">
			          <p class="p text-danger">[[${errore}]]</p>
			        </div>
					<form th:action="@{/my-work/podcast/upload}" th:object="${podcast}" method="post" enctype="multipart/form-data" class="signin-form">
						<div class="form-group col-5">
							<label for="date1">Data pubblicazione</label><br>
							<input class="form-control" id="date1" type="date" th:field="${date.date}" required placeholder="Inserisci la data in formato gg/mm/aaaa" style="color: black;">
						</div>
						<div class="form-group col-8 mb-4">
							<label for="file">File audio</label>
							<input type="file" class="form-control-file" accept=".mp3,audio/*" name="file" id="file" required>
						</div>
						<div class="form-group col-4">
							<input class="form-control" id="pubblicaSubmit" type="submit" value="Pubblica">
						</div>
				</form>

			</div>
		</div>
	</div>
</body>
</html>
