<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sondaggi</title>
</head>

<body>
<div th:with="admin = ${#authorization.expression('hasAuthority(''WNMW'')')}">
	<div th:if="${admin}">
		<form th:action="@{/myWork/addSondaggio}" method="get">
			<button type="submit">Inserisci Nuovo Sondaggio</button>
		</form>
		
	</div>
	<br>
	<br>
	
	<table>
		<tr th:each="sondaggio: ${sondaggi}">
			<td th:if="${sondaggio.visibile}">
				<a th:href="@{${sondaggio.link}}" th:text="${sondaggio.nomeSondaggio}" target="blank"></a>
				<div th:if="${admin}">
					<form th:action="@{/myWork/deleteSondaggio(id=${sondaggio.id})}" method="post">
						<button type="submit">Elimina</button>
					</form>
				</div>
			</td>
		</tr>
	</table>
</div>
</body>
</html>