<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Aggiungi modulo</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" content-type="" href="/view/cssGio/style.css">

	<style>
	body {
		background-image: url("/view/MyWork/images/background.png");
		background-repeat: no-repeat, repeat;
		background-attachment: fixed;
	}

	#input {
		background-color: #E2E2E2;
		border-radius: 0px 0px 0px 0px;
		border: 0px solid #E2E2E2;
	}
</style>

</head>

<body>

	<div class="container" sec:authorize="hasAuthority('GM')">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="colForm">

				<h4 style="text-align: center; margin-bottom: 5px;">Inserisci un
					nuovo modulo</h4>
					<hr style="background-color: #F3F3F3;">

					<p style="text-align: right; margin-bottom: 30px;display: inline-block;">
						<a class="mr-2" th:href="@{/myWork/}" style="color: #F3F3F3;">
							<img src="/view/MyWork/images/frecciasinistra.png" style="display: inline-block;" width="20%">Torna indietro
						</a>
					</p>

					<p th:text="${message}" th:if="${message ne null}"
					class="alert alert-primary"></p>

					<form th:action="@{/file/upload}" th:object="${filePdf}"
					method="post" enctype="multipart/form-data" class="signin-form">

					<div class="form-group col-12">
						<label for="descrizione">Descrizione</label>
						<input type="text" class="form-control" th:field="*{descrizione}" name="descrizione" id="descrizione">
					</div>
					<div class="form-group col-5">
						<label for="descrizione">Settore</label>
						<select name="settore"  class="custom-select mb-2" th:field="*{settore}" >
							<option th:value="'Erre Technology'" th:text="ErreTechnology"></option>
							<option th:value="'Erre GES'" th:text="ErreGES"></option>
							<option th:value="'Erre PRO'" th:text="ErrePRO"></option>
							<option th:value="'Erre LAB'" th:text="ErreLAB"></option>
						</select>
					</div>

					<div class="form-group col-8">
						<label for="file">File PDF</label>
						<input type="file"class="form-control-file" accept="application/pdf" name="file" id="file">
					</div>
					<div class="form-group col-4">
						<input class="form-control" type="submit" id="pubblicaSubmit" value="Pubblica">
					</div>

				</form>

			</div>
		</div>
	</div>
</body>
</html>
